.categories_content_wrapper {
    max-width: 1280px;
    overflow: auto;
    width: 97%;
    margin: 0 auto;
    overflow-y: hidden;
    margin-bottom: 56px;
    position: relative;
}

.category_nav {
    border-bottom: 1px solid #737373;
    background-color: rgba(243, 243, 243, 0.95);
    height: 72px;
    margin:0 auto;
    max-width:1280px;
    z-index: 10;
}
.size_dropdown {
    display: inline-block;
    float: left;
    width: auto;
    color: #484848;
    position: relative;
    margin-bottom: 12px;
    margin-top: -4px;
}
.category_nav > ul.sub_filter {
    display: table;
    width: 100%;
    padding: 16px 0;
}
.size_dropdown_box {
    display: none;
    position: absolute;
    padding: 8px 0px 7px 0px;
    left: 35px;
    width: 152px;
    top: -2px;
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid #110c0e;
    color: #110c0e;
    font-family: Mercury;
}
.product_rollover_options.mercury a p {
    display: inline-block;
}
.size_dropdown_box.active {
    display: block;
}

.size_dropdown_box li {
    padding: 12px 16px 4px 16px;
    line-height: 8px;
    font-size: 14px;
    cursor: pointer;
    color: #484848;
    letter-spacing: .1px;
    -webkit-transition: all 230ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 230ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 230ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 230ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 230ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
}

.size_dropdown_box li:hover,.size_dropdown_box li.selected {
    background-color: #f2f2f2;
    color: #110c0e;
}

.size_dropdown_box li.selected {
    padding-left: 16px!important;
}
.product_rollover_options.mercury a.product_rollover_link {
    border-bottom: 1px solid transparent;
    letter-spacing: .5px;
    font-weight: 500;
    padding-left: 0;
    cursor: pointer;
}
.product_rollover_buy_section a.purchase_btn:hover {
    background-color: rgb(149, 230, 204);
}

.product_rollover_buy_section a.purchase_btn:active {
    background-color: rgb(143, 220, 195);
    border-top-color: rgba(0, 0, 0, 0.12);
    color: rgba(17, 12, 14, 0.26);
}
.product_rollover_buy_section a.purchase_btn {
    background-color: rgba(121, 208, 180, 0.78);
    height: 32px;
    width: 150px;
    float: left;
    display: block;
    font-weight: 500;
    text-decoration: none;
    font-family: Gotham;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.04);
    padding-top: 5px;
    text-transform: uppercase;
    cursor:pointer;
    border-radius: 1px;
    font-size: 14px;
    border-top-color: rgb(149, 230, 204);
    letter-spacing: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    -webkit-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
}
.product_rollover_image {
    top: 4px;
    bottom: 4px;
    background-size: cover;
    position: absolute;
    background-position: center center;
}

.product_rollover_title{
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .39px;
    line-height: 19px;
    text-decoration: none;
    font-family: Mercury;
    font-size: 16px;
    letter-spacing: .39px;
    display: inline;
    font-weight: 100;
    color: #110c0e;
}
.filters_dropdown_container .filter_selected {
    display: none;
}

.filters_dropdown_container {
    background-color: #FFFFFF;
    border: 1px solid #110c0e;
    padding: 12px;
    position: absolute;
    left: -8px;
    letter-spacing: .3px;
    top: 36px;
    font-size: 12px;
    font-family: Gotham;
    display: none;
    width: 240px;
}
.product_rollover_title_wrapper {
    line-height: 0;
}

.product_rollover_link p {
    display: inline-block;
}
h2.product_rollover_price {
    font-family: Mercury;
    padding: 0px 0 1px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #544D50;
    font-size: 17px;
    letter-spacing: .4px;
    font-weight: 100;
}
.product_rollover_buy_section {
    width: 240px;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 19px;
}
ul.sub_filter > li {
    position: relative;
    vertical-align: top;
    text-align: justify;
    padding-top: 9px;
    display: table-cell;
}

li.active_filter h1 {
    font-weight: 200;
    letter-spacing: 1.5px;
    font-size: 27px;
    display: inline-block;
}

li.active_filter h1 span.item_count {
    font-size: 14px;
    position: relative;
    color: #babbbf;
    top: -3px;
}

li.sub_filter_label p {
    font-family: Gotham;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 0px;
}

.highlighted_category_product.category_view_product_cell {
    width: 100%!important;
    height: 100%!important;
}

li.right_alligned .down_chevron{
    top: 17px;
    width: 9px;
    right: 0;
}
.category_page_content_wrapper {
    width: -moz-calc(100% + 5px);
    width: -o-calc(100% + 5px);
    width: -webkit-calc(100% + 5px);
    width: calc(100% + 5px);
}

ul.sub_filter > li.sub_filter_link {
    font-family: Mercury;
    font-size: 17px;
    letter-spacing: .9px;
    top: 4px;
    position: relative;
}

li.sub_filter_label p em {
    font-style: normal;
    color: #babbbf;
}

ul.sub_filter > li.right_alligned {
    float: right;
    display: block!important;
    color: #110c0e;
}

ul.sub_filter > li.right_alligned p em {
    color: #110c0e;
    font-weight: 600;
    padding-right: 14px;
}

.highlighted_collection_copy {
    background-color: #aedab7;
    display: inline-block;
    height: 100%;
    float: left;
    text-align: center;
    padding-top: 48px;
    width: 40%;
}

.category_highlighted {
    margin-top: 24px;
    width: 100%;
    float: left;
}

.width_80 {
    width: 80%;
    display: inline-block;
    float: left;
}

.highlighted_collection {
    padding-right: 5px;
    height: 385px;
}

.highlighted_collection_image {
    width: 60%;
    display: inline-block;
    overflow: hidden;
    float: left;
    background-size: cover;
    height: 100%;
    background-position: 0 center;
    background-repeat: no-repeat;
}

.highlighted_collection_image img {
width: 100%;background-position: -100px;display: none;}

.highlighted_collection_title h1 {
    text-transform: uppercase;
    font-size: 31px;
    letter-spacing: .7px;
    font-weight: 400;
    line-height: 45px;
    padding-bottom: 2px;
}

.highlighted_collection_title > div {
    width: 70%;
}

.white_horizontal_separator {
    height: 3px;
    background-color: #ffffff;
    border-radius: 12px;
    display: inline-block;
    margin: 0 auto;
}

.highlighted_collection_links {
    margin-top: 14px;
}

.highlighted_collection_links p.mercury {
    color: rgb(255, 255, 255);
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 14px;
}

.highlighted_collection_links a {
    display: block;
    text-transform: uppercase;
    color: #737373;
    font-size: 14px;
    padding-bottom: 3px;
    letter-spacing: 1px;
}
body .collections_slick_slider button.slick-prev {
    border-right: 7px solid #f2f2f2;
    -webkit-box-shadow: 13px 0 21px #f2f2f2;
    -moz-box-shadow: 13px 0 21px #f2f2f2;
    box-shadow: 13px 0 21px #f2f2f2;
}

body .collections_slick_slider button.slick-next {
    border-left: 7px solid #f2f2f2;
    right: 6px;
    -webkit-box-shadow: -13px 0 21px #f2f2f2;
    -moz-box-shadow: -13px 0 21px #f2f2f2;
    box-shadow: -13px 0 21px #f2f2f2;
}
.width_20 {
    width: 20%;
    display: inline-block;
    float: left;
}

.width_20 > div.category_view_product_cell {
    width: 100%;
    position: relative;
    height: 33.3333%;
}

.category_view_product_cell img {
    display: none;
}

.category_view_product_cell div.product_cell_image {
    background-size: contain;
    position: absolute;
    left: 0px;
    right: 5px;
    background-color: #f9f9f9;
    top: 0;
    background-repeat: no-repeat;
    bottom: 0;
    background-position: center center;
}

.category_highlighted .width_20 {
    height: 570px;
    width: 190px;
}

div.category_view_product_cell {
    width: 190px!important;
    height: 190px!important;
    position: relative;
    display: inline-block;
    float: left;
    margin-bottom: 4px;
}

.category_highlighted .width_80 {
    width: calc(100% - 190px);
}

.top_4_items > div {
    width: 25%!important;
}

.top_4_items .category_view_product_cell div.product_cell_image{}

.top_4_items > div > div {
    background-position: center center;
}

.top_4_items {
    margin-top: 4px;
}

.collections_slider_wrapper {
    margin-top: 48px;
    width: 100%;
    float: left;
    margin-bottom: 8px;
    text-align: center;
}

.collections_slider_wrapper h1 {
    font-family: Mercury;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 30px;
}

.collections_slider_wrapper .collections_slider {
    margin-left: 0;
    margin-top: 16px;
    margin-right: 0;
    position: relative;
}

ul.collections_slick_slider li.slick-slide {
    background-color: #FFFFFF;
    margin: 0 6px;
    height: 272px;
    position: relative;
    overflow: hidden;
}

ul.collections_slick_slider li.slick-slide .collection_slider_image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

ul.collections_slick_slider li.slick-slide .collection_slider_image img {
    display: none;
}

ul.collections_slick_slider li.slick-slide h4 {
    text-transform: uppercase;
    padding-top: 19px;
    font-size: 14px;
    position: relative;
    z-index: 10;
    font-weight: 500;
    letter-spacing: .4px;
}
body .collections_slick_slider button.slick-prev, body .recommended_products_slick_wrapper button.slick-prev {
    display: block;
    top: 16px;
    height: 100%;
    left: 0;
    background-position: center center;
    bottom: 0;
    width: 36px;
    background-size: 14px 24px;
    background-color: #110c0e;
    background-image: url(../assets/img/left_arrow.png);
}
.collections_slick_slider button.slick-next,body .recommended_products_slick_wrapper button.slick-next {
    display: block;
    top: 16px;
    height: 100%;
    right: 0;
    background-position: center center;
    bottom: 0;
    width: 31px;
    background-size: 14px 24px;
    background-color: #110c0e;
    background-image: url(../assets/img/right_arrow.png);
}
ul.collections_slick_slider li.slick-slide .horizontal_separator {
    width: 50%;
    background-color: #110c0e;
    height: 2px;
    position: relative;
    z-index: 1;
    margin: 14px auto;
    border-radius: 20px;
}

ul.collections_slick_slider li.slick-slide .collections_description {
    color: #8b8b8b;
    position: absolute;
    font-family: Mercury;
    font-size: 12px;
    bottom: 4px;
    letter-spacing: .5px;
    font-weight: 100;
    line-height: 21px;
    left: 15px;
    right: 15px;
}

.category_page_section_separator {
    background-color: #babbbf;
    overflow: auto;
    width: 75%;
    margin: 36px auto;
    height: 1px;
}

.category_products_two_rows {
    height: 52vh;
    width: 100%;
    float: left;
}

.width_60 {
    width: 60%;
    float: left;
    height: 100%;
    display: inline-block;
}

.width_40 {
    width: 40%;
    display: inline-block;
    float: left;
    height: 100%;
    position: relative;
}

.width_55 {
    width: 55%;
    float: left;
    height: 100%;
    display: inline-block;
}

.width_45 {
    width: 45%;
    display: inline-block;
    float: left;
    height: 100%;
    position: relative;
}


.category_products_two_rows .width_60 .category_view_product_cell {
    width: calc(33.33333%)!important;
    height: calc(100% - 2px)!important;
    margin-bottom: 0;
}

.category_products_two_rows .width_60 .category_view_product_cell div.product_cell_image {
background-position: center center;}

.width_60 .product_row {
    height: 50%;
}

.special_category_marketing_block .category_marketing_image {
    position: absolute;
    left: 0;
    background-size: cover;
    right: 5px;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
}

.special_category_marketing_block .category_marketing_image img {
    display: none;
}

.special_category_marketing_block h6 {
    text-align: center;
    position: relative;
    color: #FFFFFF;
    font-size: 14px;
    z-index: 1;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 1px;
}

.special_category_marketing_block {
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

.special_category_marketing_block h2 {
    font-size: 30px;
    color: #FFFFFF;
    z-index: 1;
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding-top: 42px;
    letter-spacing: 1px;
}

a.marketing_call_to_action_btn {
    background: #548860;
    padding: 11px 20px 8px;
    display: block;
    width: 231px;
    z-index: 1;
    margin: 0 auto;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    letter-spacing: 1.5px;
    font-weight: 500;
    margin-top: 42px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.17),0px 2px 2px rgba(255, 255, 255, 0.15) inset,0px -3px 1px rgba(0, 0, 0, 0.07) inset;
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.17),0px 2px 2px rgba(255, 255, 255, 0.15) inset,0px -3px 1px rgba(0, 0, 0, 0.07) inset;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.17),0px 2px 2px rgba(255, 255, 255, 0.15) inset,0px -3px 1px rgba(0, 0, 0, 0.07) inset;
    border-top: 1px solid rgba(255, 255, 255, 0.18);
    border-bottom: 2px solid rgba(0, 0, 0, 0.09);
    -webkit-transition: all 100ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 100ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 100ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 100ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 100ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    color: #FFF;
}

.category_products_row {
    margin-top: 5px;
    float: left;
    min-height: 200px;
    height: 24vh;
    width: 100%;
    margin-bottom: 4px;
}

.category_products_two_rows .width_60 .product_row:first-of-type .category_view_product_cell {
    margin-bottom: 5px;
}

.category_products_row div.category_view_product_cell {
    width: 20%!important;
    height: 100%!important;
}

.category_products_row div.category_view_product_cell:last-child {
    margin-right: 0;
}

.category_products_row div.category_view_product_cell:last-child {
    width: 20%!important;
}

.product_rollover_options.mercury a.product_rollover_link:hover {
    color: #110c0e;
    border-color: #110c0e;
    padding-bottom: 0px;
    height: 18px;
    -webkit-transition: border-color 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: border-color 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: border-color 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: border-color 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: border-color 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
}

.product_rollover_options.mercury {
    font-size: 12px;
    display: block;
    width: 100%;
    float: left;
    padding: 8px 0;
    margin-top: 8px;
}

.product_rollover_options.mercury a {
    font-size: 13px;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    color: #110c0e;
}

icon.favorites_icon {
    background-image: url(../assets/img/favorite_icon.png);
    width: 15px;
    height: 12px;
    background-size: 100%;
    display: inline-block;
    margin-right: 3px;
    margin-top: 0px;
    top: 2px;
    position: relative;
    background-repeat: no-repeat;
}
.product_rollover_options.mercury a.favorite_product {
    border-bottom: 1px solid transparent;
    letter-spacing: .5px;
    font-weight: 500;
    padding-left: 0;
    cursor: pointer;
}

.product_rollover_options.mercury a.favorite_product:hover {
    color: #110c0e;
    border-color: #110c0e;
    padding-bottom: 0px;
    height: 18px;
    -webkit-transition: border-color 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: border-color 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: border-color 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: border-color 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: border-color 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
}
span.slash {
    font-weight: 100;
    font-size: 15px;
    padding: 0 2px;
}

.size_dropdown label {
    font-size: 12px;
    font-family: Mercury;
    top: 4px;
    text-transform: uppercase;
    position: relative;
}

span.selected_size {
    font-size: 14px;
    position: relative;
    display: inline-block;
    top: 4px;
    color: #110c0e;
    font-family: Mercury;
    left: 4px;
    height: 25px;
    letter-spacing: .4px;
    padding: 7px 7px;
    margin-left: 2px;
}

span.selected_size p {
    line-height: 12px;
    padding-top: 6px;
    padding-bottom: 2px;
}

@media only screen and (max-width: 890px){
    ul.sub_filter > li.sub_filter_link,ul.sub_filter > li.sub_filter_label{
        display: none;
    }
    .category_highlighted .width_80{
        width: 100%!important;
    }
    .category_highlighted .width_20{
        width: 100%!important;
        height: auto;
    }
    .width_20 > div.category_view_product_cell{
        width: 33.3333%!important;
    }
    .categories_content_wrapper .width_60{
        width: 100%;
        margin:0 auto;
        height:auto;
        float: none;
    }
    body div.category_products_two_rows{
        height: auto;
        float:left;
    }
    .special_category_marketing_block .category_marketing_image{
        background-position: bottom center;
    }
    .categories_content_wrapper .width_40{
        width: 100%;
        max-width: 740px;
        display: block;
        height:330px;
        float: none;
        margin:0 auto;
        margin-top: -2px;
    }
    body div.category_products_two_rows .width_60 .category_view_product_cell{
        height:190px!important;
    }
}


@media only screen and (max-width: 690px){
    .highlighted_collection_copy{
    width: 100%;
    margin-bottom: 4px;
}
    .highlighted_collection_image{
    width: 100%;
}
    body .top_4_items > div{
        width: 50%!important;
    }
    .category_products_row.row_of_five div.category_view_product_cell:nth-child(1),.category_products_row.row_of_five div.category_view_product_cell:nth-child(2),.category_products_row.row_of_five div.category_view_product_cell:nth-child(3){
        width: 33.3333%!important;
        height:190px!important;
    }
    body .category_products_row.row_of_five div.category_view_product_cell:nth-child(4),body .category_products_row.row_of_five div.category_view_product_cell:nth-child(5){
        width: 50%!important;
        height:190px!important;
    }
    body .category_products_row.row_of_five{
        height:auto!important;
        margin-bottom:0px!important;
    }

}