.about_hero {
    margin-top: 6px;
    width: 100%;
    position: relative;
    height: 90px;
    box-shadow: 1px 1px 1px rgba(179, 179, 179, 0.15),-1px -1px 1px rgba(179, 179, 179, 0.15);
    background: #e0b300;
    border-radius: 0px;
    margin-bottom: 40px;
}
.image_copy_block .copy p br {
    line-height: 32px;
}

.image_copy_block.right_aligned_image_block .img {
    float: right;
}
.about_hero > .media {
    background: #e0b300;
    border-radius: 3px!important;
    z-index: 2;
    overflow: hidden;
    display: none;
}

.content_wrapper_97.aboutus_content_wrapper {
    max-width: 100%;
    width: calc(100% - 12px);
}

.about_hero .mission {
    /* box-shadow: 1px 1px 1px rgba(179, 179, 179, 0.15),-1px -1px 1px rgba(179, 179, 179, 0.15); */
    background: rgba(255, 255, 255, 0.95);
    position: absolute;
    bottom: -18px;
    width: auto;
    right: 9%;
    padding: 11px 16px 10px;
    border-radius: 0;
    z-index: 10;
}

.about_hero .mission h2 {
    font-family: Univers, Arial, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
    color: #e0b300;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.image_copy_block {
    margin: 0 auto;
    width: calc(100% - 30px);
    max-width: 1140px;
    background: rgba(255, 255, 255, 0);
    position: relative;
    /* box-shadow: 1px 1px 1px rgba(179, 179, 179, 0.15),-1px -1px 1px rgba(179, 179, 179, 0.15); */
    background: #FFFFFF;
    border-radius: 0;
    overflow: hidden;
    margin-bottom: 10px;
}

.left_aligned_image_block.image_copy_block {}

.image_copy_block:last-child {
    margin-bottom: 56px;
}

.image_copy_block .img {
    width: 324px;
    /* margin-left: 3px; */
    display: inline-block;
    height: 268px;
    background: #110c0e;
    /* margin-top: 3px; */
    /* margin-bottom: 3px; */
    border-radius: 0;
    /* margin-right: 3px; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    float: left;
}

.image_copy_block:after {
    clear: both;
    content: '';
    display: table;
}

.image_copy_block:before {
    clear: both;
    content: '';
}

.image_copy_block .copy {
    display: inline-block;
    float: left;
    width: calc(100% - 330px);
    padding: 18px 24px;
    background: #fafafa;
}

.image_copy_block .img {}

.left_aligned_image_block.image_copy_block .img {
    display: inline-block;
}

.image_copy_block .copy h1.title {
    font-weight: 100;
    font-family: genath;
    text-transform: uppercase;
    color: #e0b300;
    font-size: 33px;
    font-family: Univers, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 11px;
}

.image_copy_block .copy p {
    font-weight: 100;
    font-size: 16px;
    line-height: 26px;
}

@media only screen and (max-width:520px){
    .image_copy_block .img{
    width: 100%;
}
    .image_copy_block .copy{
    width: 100%;
}
}
