h1.color_header {
    color: #000000;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 26px;
    text-rendering: optimizelegibility;
    padding-top: 2px;
    position: relative;
    margin-left: -56px;
    text-align: center;
    -moz-osx-font-smoothing: grayscale;
    width: calc(100% + 118px);
    padding: 0 24px;
    -webkit-font-smoothing: antialiased;
    line-height: 48px;
    height: 50px;
    background: #fde06f;
    font-family: 'Beausite';
    padding-top: 1px;
}
.expertise_image_modal {
    position: absolute;
    display: none;
}
.expertisePageWrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 100%;
    padding-left: 56px;
    padding-right: 56px;
}

.row.row_of_4:after {
    clear: both;
    content: '';
    display: table;
}

.row.row_of_4 > .col {
    display: inline-block;
    float: left;
    width: calc(25% - (36px / 4));
    margin-right: 12px;
    background: rgba(232, 234, 234, 0.82);
    text-align: center;
    padding: 21px 27px;
    border: 1px solid transparent;
    height: 80px;
    cursor: pointer;
    position: relative;
    transition: all 0.25s cubic-bezier(0.625, 0.125, 0.305, 0.875);
    border-radius: 0px;
}

.row.row_of_4 > .col:last-child {
    margin-right: 0;
}
.more_info_on_a_c > div > .media {
    position: relative;
    height: 339px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-repeat: no-repeat;
}
.row.row_of_4.row_of_4cs > .col > h3 {
    font-family: genath;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    text-rendering: optimizelegibility;
    font-weight: 300;
    text-align: center;
    display: inline-block;
    -moz-osx-font-smoothing: grayscale;
    font-size: 19px;
    border-bottom: 1px solid transparent;
    padding-top: 9px;
    -webkit-font-smoothing: antialiased;
    line-height: 18px;
    padding-bottom: 0;
    color: #e0b300;
    transition: all 0.35s cubic-bezier(0.625, 0.125, 0.305, 0.875);
}

.row.row_of_4 > .col.option_box_selected {
    background: #FFFFFF!important;
    border-color: #e0b300;
    cursor: default;
}

.supplemental_4cs_info.row.row_of_2 {
    position: relative;
}

.row.row_of_2 > div.col {
    display: inline-block;
    float: left;
    width: calc(50% - (33px / 2));
    margin-right: 33px;
    height: 240px;
    position: relative;
}
.more_info_on_a_c > div.carat > .media img{
    background:#FFFFFF;
}
.row.row_of_2 > div.col:last-child {
    margin-right: 0;
}

.expertiseViewHero.media {}

.more_info_on_a_c > div {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    padding: 32px 44px;
    text-align: center;
    padding-top: 53px;
    background: linear-gradient(#ffffff 70%,rgb(243, 243, 243) 100%);
    border-top: 1px solid #e0b300;
    transform: translateY(-30px);
    border-left: 1px solid #e0b300;
    border-bottom: 1px solid #e0b300;
    border-right: 1px solid #e0b300;
    transition: opacity 0.35s ease-out, transform 2s ease .5s;
    right: 0;
    bottom: 0;
    opacity: 0;
}
.more_info_on_a_c > div:before{
   background-color: #548860;
   background-image: url(../assets/img/geo_pattern.png);
   background-size: 24px 24px;
   background-repeat: repeat;
   background-position: center center;
   width: 28px;
   height: 28px;
   content:'';
   position: absolute;
   bottom: calc(100% - 13px);
   display: block;
   margin-left: -13px;
   transform: rotate(45deg);
   box-shadow: 1px 2px 2px rgba(179, 179, 179, 0.39),-1px -1px 1px rgba(179, 179, 179, 0.31);
}


.more_info_on_a_c > div.clarity:before{
    left: 37.5%;
}


.row.row_of_4 > .col.option_box_selected:before,.row.row_of_4 > .col.option_box_selected:after {
    bottom: -1px;
    left: 50%;
    border-radius: 0px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.row.row_of_4 > .col.option_box_selected:before{
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #e0b300;
    border-width: 18px;
    margin-left: -16px;
}

.row.row_of_4 > .col.option_box_selected:after{
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #FFFFFF;
    border-width: 17px;
    margin-left: -15px;
}

.row.row_of_4.row_of_4cs > .col.option_box_selected > h3 {
    transform: translateY(-5px);
    border-color: transparent!important;
}

.row.row_of_4.row_of_4cs > .col:hover > h3 {
    border-color: #e0b300;
    padding-bottom: 3px;
}

.row.row_of_4 > .col:hover {
    background: rgba(240, 240, 241, 0.93);
}

.more_info_on_a_c > div {
}
.more_info_on_a_c > div.carat:before {
    left: 88%;
}

.more_info_on_a_c > div.color:before {
    left: 62.8%;
}

.more_info_on_a_c > div.cut:before {
    left: 12.25%;
}
.more_info_on_a_c > div.active {
    transform: translateY(0px);
    opacity: 1;
    transition: all 0.35s cubic-bezier(0.625, 0.125, 0.305, 0.875);
    pointer-events: auto;
}

.more_info_on_a_c {
    width: 100%;
    height: 490px;
    position: relative;
    z-index: 20;
    margin-top: 10px;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.4s cubic-bezier(0.625, 0.125, 0.305, 0.875);
}

.more_info_on_a_c > div > h4 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: bold;
    position: relative;
    color: #110c0e;
    padding-bottom: 4px;
}

.more_info_on_a_c > div > h4:after {content: '';position: absolute;bottom: -10px;width: 32px;height: 3px;margin-left: -16px;left: 50%;background: #110c0e;}

.more_info_on_a_c > div > p {
    max-width: 480px;
    margin: 0 auto;
    margin-top: 21px;
    font-size: 16px;
    color: #656667;
    font-weight: 100;
    margin-bottom: 32px;
}

.row.row_of_4.row_of_4cs {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
}
.more_info_on_a_c.cut {
    height: 620px;
}

.expertisePageWrapper > div.row_of_2 {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    height: 460px;
    z-index: 0;
    position: relative;
    margin-bottom: -215px;
    margin-top: 51px;
}

.expertisePageWrapper > div.row_of_2 .col {}

.expertisePageWrapper > div.row_of_2 .col.expertiseViewHero {
    background-image: url(../assets/img/jewelry_hero_2.jpg);
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    top: 0;
}

.row.row_of_2 > div.col > h1 {
    color: rgba(17,12,14,0.4);
    text-transform: uppercase;
    font-size: 42px;
    max-width: 240px;
    margin-top: 0;
    margin-left: 0;
    padding-right: 0;
    margin-right: 0;
    line-height: 51px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: left;
    margin-bottom: 8px;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.row.row_of_2 > div.col > p {
    font-family: 'Univers', Arial, sans-serif;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    font-size: 16px;
    line-height: 26px;
    margin-top: 21px;
    margin-left: 2px;
    color: rgba(17,12,14,0.7);
    margin-right: 56px;
    text-align: justify;
}

.more_info_on_a_c.color {
    height: 580px;
}

.left_arrow_white{
    background-image: url(../assets/img/white_down_arrow.png);
}
.black_right_arrow{
    background-image: url(../assets/img/dark_down_arrow.png);
}

.expertisePageWrapper > h1.color_header > a > span {}

.supplemental_4cs_info.row.row_of_2 {
    margin-top: 38px;
    height: auto;
    margin-bottom: 56px!important;
}
.more_info_on_a_c > div.clarity > .media img {
    background: #FFFFFF;
}
.more_info_on_a_c > div.clarity > .media {
    height: 150px;
    cursor: crosshair;
    padding: 30px;
}

.more_info_on_a_c.clarity {
    height: 446px;
}

.more_info_on_a_c.carat {
    height: 370px;
}

.more_info_on_a_c > div.carat > .media {
    height: 130px;
}
h1.color_header > div {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

h1.color_header > div a.left {
    font-size: 10px;
    color: #000000;
    text-decoration: none;
}

h1.color_header > div a.left > span {transform: rotate(90deg) scaleY(1.5);width: 8px;height: 11px;display: inline-block;top: 2px;margin-right: 6px;position: relative;background-size: contain;background-repeat: no-repeat;-moz-filter: brightness(0%);-o-filter: brightness(0%);-ms-filter: brightness(0%);-webkit-filter: brightness(0%);background-position: center center;}
.supplemental_4cs_info.row.row_of_2 > div {
    background: rgba(17, 12, 14, 0.05);
    padding: 24px 32px;
    height: auto;
    text-align: center;
}

.supplemental_4cs_info.row.row_of_2:after {
    clear: both;
    content: '';
    display: table;
}

.supplemental_4cs_info.row.row_of_2 > div a > icon {
    transform: rotate(-90deg) scaleY(1.5);
    width: 8px;
    height: 11px;
    display: inline-block;
    top: 1px;
    margin-left: 4px;
    margin-right: 6px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.supplemental_4cs_info.row.row_of_2 > div a {
    text-transform: uppercase;
    font-size: 12px;
    color: #110c0e;
    text-decoration: none;
    letter-spacing: 1px;
    margin-left: 25px;
    display: inline-block;
    transition: all 0.25s cubic-bezier(0.625, 0.125, 0.305, 0.875);
}

.supplemental_4cs_info.row.row_of_2 > div > h3 {
    text-transform: uppercase;
    color: #e0b300;
    font-weight: 600;
    letter-spacing: 1.2px;
    font-size: 16px;
    display: block;
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
    line-height: 23px;
    text-align: center;
    margin-bottom: 4px;
    padding-bottom: 4px;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.supplemental_4cs_info.row.row_of_2 > div > p {
    font-size: 16px;
    line-height: 21px;
    padding-left: 0;
    padding-right: 18px;
    margin-left: auto;
    margin-right: auto;
    font-family: genath;
    max-width: 317px;
    margin-bottom: 9px;
    margin-top: 0;
    text-align: center;
}
.supplemental_4cs_info.row.row_of_2 > div a:hover {
    opacity: .5;
}
body.expertise_the4cs .global_header {
    border-bottom-color: #FFFFFF;
}

@media screen and (max-width: 690px){
    .more_info_on_a_c > div > .media{
        margin-left: -40px;
        width: calc(100% + 80px);
    }
    .supplemental_4cs_info.row.row_of_2 > div{
        width:100%;
        float:none;
        margin-right:0;
        margin-bottom: 18px;
        display:block;
    }
    .more_info_on_a_c > div:before{
        left:50%!important;
    }
    .row.row_of_4 > .col:nth-child(even){
        margin-right:0!important;
    }
    .row.row_of_4 > .col{
        width: calc(50% - (12px / 2));
        margin-bottom:12px;
    }
    .row.row_of_4 > .col h3{
        font-size: 14px!important;
        font-family: fashion!important;
        font-weight: 600!important;
    }
    .expertisePageWrapper{
    padding-left: 12px;
    padding-right: 12px;
}
    .expertisePageWrapper > h1.color_header > div{
        font-size:14px;
    }
    .expertisePageWrapper > div.row_of_2 .col{
        width:100%;
        position: relative!important;
        margin-bottom: 16px!important;
        margin-left: 16px;
    }
    .row.row_of_4 > .col.option_box_selected{
        box-shadow: 0 0 23px rgba(99, 161, 114, 0.24);
    }
    .row.row_of_4 > .col.option_box_selected:before, .row.row_of_4 > .col.option_box_selected:after{
        display:none;
    }
    .expertisePageWrapper > h1.color_header > div a.left{
    background: #110c0e;
    margin-top: 51px;
    display: block;
    height: 30px;
    line-height: 30px;
    margin-left: 22px;
    padding-left: 10px;
    padding-right: 10px;
}
}