@font-face {
    font-family: 'browallia_newregular';
    src: url('../assets/fonts/browa-webfont.woff2') format('woff2'),
         url('../assets/fonts/browa-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'browallia_newbold';
    src: url('../assets/fonts/browab-webfont.woff2') format('woff2'),
         url('../assets/fonts/browab-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'browallia_newitalic';
    src: url('../assets/fonts/browai-webfont.woff2') format('woff2'),
         url('../assets/fonts/browai-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'browalliaupcregular';
    src: url('../assets/fonts/browau-webfont.woff2') format('woff2'),
         url('../assets/fonts/browau-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'browalliaupcbold';
    src: url('../assets/fonts/browaub-webfont.woff2') format('woff2'),
         url('../assets/fonts/browaub-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'browalliaupcitalic';
    src: url('../assets/fonts/browaui-webfont.woff2') format('woff2'),
         url('../assets/fonts/browaui-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'browalliaupcbold_italic';
    src: url('../assets/fonts/browauz-webfont.woff2') format('woff2'),
         url('../assets/fonts/browauz-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'browallia_newbold_italic';
    src: url('../assets/fonts/browaz-webfont.woff2') format('woff2'),
         url('../assets/fonts/browaz-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'estrangelo_edessaregular';
    src: url('../assets/fonts/estre-webfont.woff2') format('woff2'),
         url('../assets/fonts/estre-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
    /*font-family: 'Minion Pro';*/
    font-family: 'browalliaupcregular', sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    overflow-x: hidden;
}


/*  =============  GENERAL  ==============  */

/*Header*/
header {
  background-size: cover;
  padding: 30px;
  text-align: center;
  box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.3);
  background-color: white;
}

header img {
  max-height: 50px;
  max-width: 275px;
}

h1 {
  color: white;
  font-size: 35px;
  font-weight: bold;
}

h2 {
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
}

h3 {
  font-weight: lighter;
  font-size: 29px;
  color: white;
}

p {
  font-size: 22px;
  color: white;
  font-weight: 300;
  line-height: 1.7;
}

input {
  font-size: 18px;
  color: black;
  padding: 16px 28px;
  outline: none;
  width: 405px;
}


.button {
  background-color: #2aa1c3;
  padding: 45px 50px;
  font-size: 35px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  outline: none;
  border: none;
  text-align: center;
  border-radius: 7px;
  width: 350px;
 -webkit-appearance: none;
}

.reverse {
  background-color: white;
  color: #2aa1c3;
}

.waiver_btn {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 200px;
}

.click_action {
  transition: scale 5s;
}

/*UPDATES*/
span.pink {
    color: #a1063f;
}
.registration_box {
  background: #fff;
  width: 50px;
  position: relative;
  margin: auto;
  width: 600px;
  margin-bottom: 100px;
  margin-top: -200px;
  padding-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}
.registration_box#checkin {
/*    position: relative;*/
    bottom: 0;
}
.date{
  position: absolute;
  /*background: #a1063f;*/
  width: 75px;
  height: 75px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -57.5px;
  left: 50%;
  transform: translateX(-50%);
}
.choice_option,
.choice_option a{
      width: 75px;
  height: 75px;
  margin: 20px;
  text-align: center;
  padding: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.event_options .options {
      display: flex;
  align-items: center;
  justify-content: center;
}
.event_options .options  a {
    margin: 0 !important;
    text-decoration: none;
}
.event_options .options p {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.35;
}
.date_icon {
  width: 50px;
  height: 50px;
  margin-top: -47.5px;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: auto;
  margin-top: 15px;
}

.choices .date {
  position: relative;
  left: 0;
  transform: none;
  margin-top: 0;
}
.event_options .choices .date {
/*
    width: 125px;
    height: 125px;
*/
}
.registration_box .date p {
    color:#fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.35;
}
.registration_box .date p span {
    font-size: 32px;
    font-weight: 700;
}

.registration_box .date_icon p span {
  font-size: 26px;
}

.registration_box .inner {
    width: 90%;
    margin: 0 auto;
    padding-top: 5px;
    padding-top: 45px;
}
.registration_box .inner a button, .popup a button {
    color:#fff;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #a1063f;
    width: 100%;
    padding: 20px;
    border:0;
    font-family: 'Lato', sans-serif;
    outline: 0;
    margin-top: 5px;
    cursor: pointer;
}

.popup a button {
  width: fit-content;
  display: block;
  text-align: center;
  margin: auto;
  text-decoration: none;
  margin-top: 30px;
}

.registration_box .inner .time {
    border-bottom: 2px solid #f7f7f7;
}
.registration_box .inner .location {
    padding-top: 20px;
}
.registration_box .inner .time,
.registration_box .inner .location {
    padding-bottom: 20px;
}
.registration_box .inner .time h6,
.registration_box .inner .location h6,
.dark_overlay h6,
.registration_box .inner .padding h6{
    font-size: 18px;
    margin-top:5px;
    margin-bottom: 0;
    color:#32393d;
    letter-spacing: 1px;
}
.registration_box .inner .padding h6 {
    margin-top: 15px;
}
.registration_box .inner .time p,
.registration_box .inner .location p {
    color:#8c9092;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top:5px;
    margin-bottom: 5px;
}
.registration_box .inner .padding {
    width: 90%;
    margin: 0 auto;
}
.registration_box .inner .padding.checkin_options {
    text-align: center;
}
.registration_box .inner .padding.checkin_options .date {
    display: inline-flex;
    height: 100px;
    width: 100px;
    margin-top: 50px;
    vertical-align: middle;
}
.registration_box .inner .padding.checkin_options .date p {
    color:#fff;
}

.registration_box .inner .location span.pink,
p.back_btn span.pink {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    margin-left: 5px;
    font-weight: 500;
    padding-bottom: 2px;
    border-bottom: 1px solid #a1063f;
    cursor: pointer;
}

.registration_box .inner .location .map {
    display: none;
}
.registration_box .choice_2,
.registration_box .choice_3,
.registration_box .choice_4 {
    display: none;
}

.error {
  display: none;
  font-size: 16px;
  color: #a1073f;
  text-align: left;
  margin: 0;
  margin-top: 0 !important;
  padding: 0;
  margin-bottom: 10px;
  margin-top: -10px;
  color: #a1063f !important;
}

.reg_page .error {
  text-align: center;
  margin-bottom: 0;
  margin-top: 45px !important;
  width: 100%;
}

.registration_box .inner .price {
    margin-top: 20px;
    text-align: center;
}
.registration_box .inner .price p {
    font-size: 18px;
    letter-spacing: 1px;
}
.registration_box .inner .form {
    padding-bottom: 20px;
}
.registration_box .inner .form input {
    padding: 10px;
    font-size: 12px;
    margin-bottom: 10px;
    width: 95%;
}

.registration_box .inner .form input::placeholder, .registration_box .inner .form input:-ms-input-placeholder, .registration_box .inner .form input::-moz-placeholder, .registration_box .inner .form input::-webkit-input-placeholder  {
    opacity: .5;
}

.registration_box .inner .form input::placeholder {
  opacity: .7;
}

.registration_box .inner .form input[name=confirmation] {
    padding: 15px;
    margin-top: 10px;
}
.registration_box .inner .form input.input_50_l {
    float: left;
    width: 44%;
}
.registration_box .inner .form input.input_50_r {
    float: right;
    width: 44%;
}

.registration_box .inner .form input {
  border: 1px solid #0000004a !important;
}

.registration_box .inner .form input.input_third {
    width: calc(31% - 20px);
    float: left;
    margin-right: 1%;
}
.registration_box .inner .form select.states {
    width: calc(31%);
    float: left;
        padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 2%;height: 39px;
    border: 1px solid #0000004a !important;
}

.ticket_select form select {
  border: 1px solid #0000004a !important;
  text-align: center;
  width: fit-content !important;
}

.registration_box .inner .form input.input_third:last-child {
    margin-right: 0;
    float: right;
}
.registration_box .inner .form p {
    color:#32393d;
}
#form_hidden {
    display: none;
}
.ticket_select {
    margin-top: 36px;
    margin-bottom: 14px;
    text-align: center;
}
.ticket_select form select {
        padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
    width: 100px;
}
.ticket_select h4 {
    font-family: 'Lato', sans-serif;
    font-size: 38px;
    margin-top: 10px;
    margin-bottom: 0;
    
}
.date img {
  max-width: 44px;
  max-height: 50px;
  width: auto;
  height: auto;
}
.main_section {
    margin-top: 0px;
    padding-bottom: 100px;
}
.main_container {
    width: 70%;
    margin: 0 auto;
}
.main_container h3 {
    color:#32393d;
    font-weight: 500;
}
.main_container p {
    color:rgba(50, 57, 61, 0.7);
    font-size: 17px;
}

.artboard {
    padding-top:50px;
    padding-bottom: 50px;
    overflow: hidden;
}
.artboard .left_board,
.artboard .right_board {
    width: 48%;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
}
.artboard > div img {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.artboard .view_more {
    width: 100%;
    float: none;
    clear: both;
    text-align: center;
    padding-top: 20px;
}
.artboard .view_more p {
    font-size: 20px;
}
footer {
    height: 5px;
    background: #a1063f;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
  filter: brightness(0) invert(1);
  max-width: 200px;
  max-height: 200px;
}






/*  ===============  HOME  ===================*/
.main_hero {
  /*background-image: url('../assets/img/winebow_hero.jpg');*/
  background-size: cover;
  background-position: center center;
background-repeat: no-repeat;
}

.main_hero .button {
  padding: 29px 33px;
  font-size: 23px;
  width: 300px;
}

.hero {
  height: 500px;
  position: relative;
}


.dark_overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: opacity .5s;
    display: flex;
    justify-content: center;

    background-color: rgba(6, 28, 35, 0.3) !important;
}
.dark_overlay h1 {
    padding-top: 21px;
    color:#fff;
    letter-spacing: 3px;
    -webkit-font-smoothing: antialiased;
    font-size: 49px;
}

.dark_overlay h1 span {
  display: block;
  text-align: center;
  font-size: 32px;
  margin-bottom: 8px;

  font-weight: bold;
  text-transform: uppercase;
  font-size: 22px;
}

.main_hero a {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  -webkit-animation: bouncer 4s infinite ease-in-out;
}

.main_hero a:first-child {
    margin-bottom: 62px;
    margin-top: 146px;
    -webkit-animation: bouncer2 4s infinite ease-in-out;
}


@-webkit-keyframes bouncer {
  30%, 70%  { -webkit-transform: translateY(0); }
    
  50% { -webkit-transform: translateY(10px); }
}

@-webkit-keyframes bouncer2 {
  70%, 100%  { -webkit-transform: translateY(0); }
    
  90% { -webkit-transform: translateY(10px); }
}



/*  ===============  check-in  ===================*/
.checkin_index, .register_index {
  background-image: url('../assets/img/register_hero.jpeg');
  background-size: cover;
/*  background-position: -92px 0;*/
/*  position: fixed;*/
  overflow-y: auto;
}

.checkin .button {
  font-size: 20px !important;
  padding: 25px !important;
  margin-top: 28px !important;
  border: none;
  width: 250px;
  display: block;
  margin: auto;
  text-transform: uppercase;
}

.verify {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.checkin .verify .x {
  position: absolute;
  color: white;
  top: 30px;
  right: 30px;
  font-size: 35px;
}

.verify .button {
  margin: 0;
  border: 1px solid white;
}

.verify h2 {
  font-size: 34px;
}

.verify.wrong {
  background-color: #e83f22;
}

.checkin {
  text-align: center;
  padding-top: 70px; 
}

.checkin video {
  margin-top: 70px;
}

.checkin .check {
  width: 78px;
  position: absolute;
  top: 762px;
  right: 100px;
}

.checkin .step_one .back_arrow {
  margin-top: 33px;
  bottom: auto !important;
}

.checkin .x {
  width: 78px;
  position: absolute;
  top: 762px;
  right: 100px;
}

.checkin .button {
  margin-top: 120px;
}

.button img {
  width: 37px;
  margin-left: 20px;
  position: relative;
  top: 5px;
  vertical-align: bottom;
}

#waiver img {
  width: 50px;
  margin-left: 20px;
}

.step_two {
  display: none;
}


.step_two input.pin, .step_one input.pin {
  padding: 30px;
  font-size: 35px;
  border: 1px solid #061c23;
  outline: none;
  border-radius: 8px;
  margin-bottom: 55px;
  width: 226px;
  font-size: 52px;
  letter-spacing: 25px;
}

.step_one a:nth-child(6) {
  color: white !important;
  text-decoration: none;
  border-bottom: 1px solid white;
  padding-bottom: 4px;
  position: relative;
  top: 15px;
}

.step_two input.pin::placeholder, .step_one input.pin::placeholder {
  font-size: 35px;
  letter-spacing: 1px;
}

.step_two input.button, .step_one input.button {
  display: block;
  border: none;
  padding: 45px 50px;
  font-size: 35px;
  margin: auto;
}

.step_two .submit_check {
  display: none;
  top: 615px;
  right: 361px;
}




/*  ===============  REGISTER ===================*/

.register {
  text-align: center;
  padding-top: 120px; 
}

.register video {
  margin-top: 70px;
}

.register .check {
  width: 100px;
  position: absolute;
  top: 831px;
  right: 76px;
}

.fail {
  display: none;
  color: #e83f22;
  font-size: 20px;
  font-weight: normal;
}

.f_waiver {
  position: relative;
  top: 20px;
}

/*.register .step_one {
  position: relative;
}*/

.register .step_one .back_arrow.arrow1 {
  bottom: auto !important;
  margin-top: -70px;
}

.step_one input.button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  margin: 0 ;
}
/*
.step_one input.name_input {
  padding: 30px;
  font-size: 35px;
  border: 1px solid #061c23;
  outline: none;
  border-radius: 8px;
  width: 203px;
  font-size: 52px;
  letter-spacing: 25px;
  display: block;
  margin: auto;
  font-size: 35px;
  letter-spacing: 2px;
  width: 515px;
  margin-bottom: 35px;
}*/

.register .step_one input {
  margin-bottom: 20px;
  /*margin-left: 50px;*/
}

.birthday-picker {
  width: 465px;
  margin: auto;
  text-align: left;
}

.birthday-picker select {
  font-size: 17px;
  padding: 15px 30px;
  border: none;
  margin-right: 15px;
  font-weight: 300;
  border-radius: 0 !important;
  color: #c1c1c1;
  background-color: white;
  -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;
   outline: none !important;
}

.birthday-picker select.black {
  color: black !important;
}


.register .step_one input::placeholder, .birthday-picker select::placeholder {
  opacity: .5;
}

.register .step_one input.pin {
  position: relative;
  right: 145px;
  padding-top: 20px;
}

.register .button {
  font-size: 20px !important;
  padding: 25px !important;
  margin-top: 28px !important;
  position: relative;
  left: 50px;
}

.sign_here {
  opacity: .3;
  margin: 0;
  text-transform: uppercase;
  position: absolute;
  color: grey;
  text-align: center;
  width: 100%;
  z-index: 0;
  margin-top: -52px;
  font-size: 20px;
  font-weight: normal;
  -webkit-animation: bounce 3s infinite ease-in-out;
}


@-webkit-keyframes bounce {
  30%, 70%  { -webkit-transform: translateY(0); }
    
  50% { -webkit-transform: translateY(5px); }
}


.next {
  display: none;
}

.camera {
  width: 120px;
  margin-top: 58px;
  margin-bottom: 10px;
  transition: opacity 1s;
}

#image {
  margin-top: 100px;
}

.countdown {
  font-size: 0px;
  position: absolute;
  color: white;
  top: 61%;
  transform: translateY(-30%);
  -webkit-transition: font-size .7s ease;
  -moz-transition: font-size .7s ease;
  -o-transition: font-size .7s ease;
  transition: font-size .7s ease;
  width: 100%;
  text-align: center;
}

.flash {
  display: none;
  background: yellow;
  height: 1690px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: white;
  transition: background-color 1s;
}

.overlay {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2aa1c3;
  position: absolute;
  top: -101px;
  z-index: 5;
}

.overlay_fail {
  background-color: #e83f22;
}

.overlay h1 {
  color: white;
  margin-bottom: 10px;
}

.overlay p {
  color: white;
}

.slideDown {
  transition: margin .5s;
  margin-top: 200px;
}

.form {
  transition: margin .5s;
}

.back_arrow {
    position: absolute;
    left: 120px;
    color: white;
    bottom: -21px;
    font-size: 28px;
    display: flex;
    align-items: center;
}

.back_arrow.arrow1 {
  bottom: -1px;
}

.back_arrow svg {
  transition: transform .5s;
}

.back_arrow p {
  margin-left: 13px;
  font-size: 19px;
}

.choice_2 .time {
  text-align: center;
  margin-top: 50px;
}

 .checkin_page .choice_3 .form .padding p, .reg_page .choice_4 .form .padding p {
  margin-top: 6px;
  margin-bottom: 0;
}    

.checkin_page .choice_3 .form .padding p, .reg_page .choice_4 .form .padding p{
  margin-bottom: 25px;
  margin-top: 25px;
}

.checkin_page .choice_3 .inner .padding, .reg_page .choice_4 .inner .padding {
  max-width: 488px;
}

.popup button {
  width: fit-content;
  display: block;
  text-align: center;
  margin: auto;
  text-decoration: none;
  margin-top: 30px;
  color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #a1063f;
    width: 100%;
    padding: 20px;
    border: 0;
    font-family: 'Lato', sans-serif;
    outline: 0;
    margin-top: 30px;
    cursor: pointer;
}

.choice_5 {
  position: absolute;
  top: 0;
  z-index: -2;
}
/*  ===============  WAIVER ===================*/

.waiver {
  text-align: center;
  padding-top: 120px; 
}

.waiver video {
  margin-top: 70px;
}

.waiver .check {
  width: 100px;
  position: absolute;
  top: 762px;
  right: 100px;
}

.waiver_holder {
  display: none;
  position: relative;
  top: -50px;
}

.waiver_holder input.button {
  margin-left: 50px;
}



/*.step_one input.name_input {
  padding: 30px;
  font-size: 35px;
  border: 1px solid #061c23;
  outline: none;
  border-radius: 8px;
  width: 203px;
  font-size: 52px;
  letter-spacing: 25px;
  display: block;
  margin: auto;
  font-size: 35px;
  letter-spacing: 2px;
  width: 515px;
  margin-bottom: 35px;
}*/

.waiver .step_one input.pin {
  position: relative;
  right: 155px;
  padding-top: 20px;
}

.waiver_holder.step_two .back_arrow.arrow1 {
  bottom: -18px;
}

.waiver_holder.step_two #checkin_form .button {
  right: -42px;
}

.fixed_waiver {
  /*display: none;*/
  height: 320px;
  margin: auto;
  position: relative;
  margin-top: 47px;
  width: 100%;
  overflow-y: auto;
}

.fixed_waiver img {
  width: 503px;
}

.waiver .step_one form .button {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.waiver canvas, .checkin canvas, .register canvas {
    border: 1px solid #061c23;
    outline: none;
    border-radius: 8px;
    position: relative;
    top: 484px;
    width: 900px;
    height: 150px;
    background-color: white;
}

.register canvas, .checkin canvas, .white_back {
    border: 1px solid #061c23;
    outline: none;
    border-radius: 8px;
    position: relative;
    top: 13px;
    width: 500px;
    height: 100px;
    background: transparent;
    touch-action: auto !important;
    z-index: 1;
}

.white_back {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 430px;
    z-index: 0;
    background-color: white;
}

#checkin_form {
    top: 81px;
    position: relative;
}

#checkin_form .white_back {
  top: 333px;
}

#checkin_form .sign_here {
  margin-top: 46px;
}

#checkin_form .button {
    width: 350px;
    position: relative;
    top: 20px;
}

.signature_text {
    font-size: 19px;
    margin-top: 31px;
}

.waiver .check {
  display: none;
  width: 100px;
  position: absolute;
  right: 50px;
  top: 1349px;
}

    .notify {
        background: #DF3A28;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .notify p {
        font-size: 16px;
    }

.popup {
    display: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(27, 27, 32, 0.9);
    z-index: 100000;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.offclick {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    pointer-events: none;
}

.popup .holder {
    background-color: white;
    height: 500px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0px 0px 6px #00000026;
    position: relative;
    justify-content: center;
    align-items: center;
}

.popup .date svg {
  font-size: 31px;
  color: white;
}

.popup .date {
  position: absolute;
  top: 0;
}

#loader {
  width: 200px;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  margin: auto;
  border-top: 2px solid #f7f7f7;
  padding: 30px 0;
  padding-top: 60px;
  align-items: center;
}

.checkboxes > div {
  width: 200px;
  display: flex;
  justify-content: flex-start;
}

.checkboxes input {
  width: auto;
  margin-right: 10px;
}

.holder h2 {
    color: #a1063f;
    font-size: 37px;
    text-align: center;
    margin-bottom: 14px;
    margin-top: 0;
}

.holder p {
  color: #a1063f;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}

.confirmed {
  color: rgb(161, 6, 63) !important;
  font-size: 17px;
  margin-bottom: -14px;
}

.confirmed_code {
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 400;
}


/*===================  CHECKIN PAGE  ======================*/
.checkIn_page {
  background-size: cover;
  height: 1920px;
  width: 1080px;
  overflow: hidden;
}

.checkIn_page img {
  width: 600px;
}

.checkIn_page .banner {
  width: 100%;
  background-color: #197a56;
  padding: 60px 90px;
  text-transform: uppercase;
}

.sm_txt {
  font-size: 50px;
  font-family: 'browallia_newregular';
  margin-top: 0;
  margin-bottom: -20px;
  opacity: .7;
}

.lrg_txt {
  font-family: 'estrangelo_edessaregular';
  margin-top: 0;
  font-size: 70px;
  margin-bottom: -14px;
}

.checkin_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
}

.box {
  background: rgba(0, 124, 84, .9);
  padding: 70px;
  margin-bottom: 30px;
  max-width: 600px;
  width: 100%;
}

.checkin_content p {
  color: white;
  font-size: 46px;
  margin-top: 0;
  margin-bottom: 42px;
  line-height: 1.2;
  text-transform: uppercase;
  font-family: 'estrangelo_edessaregular';
}

.checkin_content video {
  width: 430px;
  height: auto;
}

.scan_txt {
  font-size: 70px;
  margin-bottom: 0;
}

.email_txt {
  margin-bottom: 0;
}

.checkin_content input, .register_popup input {
  font-size: 40px;
  padding: 30px 50px;
  width: 700px;
}

.checkin_content input {
  width: 84%;
  background: transparent;
  border: none;
  border-bottom: 3px solid white;
  color: white;
}

.register_popup {
  width: 86%;
}

.checkin_content input::placeholder {
  opacity: .6;
  color: white;
}

.checkin_content .btn, .register_popup .btn {
  background-color: #bc4a4a;
  padding: 30px 50px;
  font-size: 59px;
  font-family: 'browallia_newbold';
  color: white;
  border: none;
  margin-top: 200px;
}

.checkin_content .btn {
  margin-top: 0;
  width: 100%;
  max-width: 745px;
  background-color: rgba(188, 74, 74, .9);
}

.register_btn {
  animation: shake 2s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}

.register_popup .btn {
    margin-top: 30px;
    width: 106%;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    5% { transform: translate(-1px, -2px) rotate(-1deg); }
    10% { transform: translate(-3px, 0px) rotate(1deg); }
    15% { transform: translate(3px, 2px) rotate(0deg); }
    20% { transform: translate(1px, -1px) rotate(1deg); }
    25% { transform: translate(-1px, 2px) rotate(-1deg); }
    30% { transform: translate(-3px, 1px) rotate(0deg); }
    35% { transform: translate(3px, 1px) rotate(-1deg); }
    40% { transform: translate(-1px, -1px) rotate(1deg); }
    45% { transform: translate(1px, 2px) rotate(0deg); }
    50% { transform: translate(1px, -2px) rotate(-1deg); }
}

.register_popup {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
}

.off_click {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}

.register_popup #guests_info{
  position: relative;
  z-index: 5;
  padding-top: 400px;
  width: 70%;
  margin: auto;
}

.register_popup p {
  text-align: left;
  font-size: 69px;
  margin-bottom: 61px;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: 'estrangelo_edessaregular';
}

.register_popup .fa-times {
  color: white;
  font-size: 72px;
  margin-bottom: 92px;
  padding: 50px;
}

.checkin_content .checkin_btn {
  margin-top: 28px;
  background-color: white;
  width: 100%;
  color: #0c7c56;
  padding: 20px;
}

.white {
  display: none;
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
}

.checked_in {
  display: none;
  position: fixed;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #0c7c56;
  color: white;
}

.checked_in div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.checked_in div p {
  font-size: 80px;
  font-family: 'estrangelo_edessaregular';
}

.checkin_content p.error {
  color: white !important;
  width: 100%;
  text-align: center;
  margin-top: 35px !important;
  margin-bottom: 0;
  font-size: 34px;
  position: relative;
}

#checkin_by_email {
  position: relative;
}

#loader {
  display: none;
  width: 95px;
  position: absolute;
  right: 0;
  top: -66px;
    -webkit-animation: load 1s linear infinite;
}

@-webkit-keyframes load {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg);  }
}

.register_error {
  display: none;
  font-size: 49px !important;
  text-transform: unset !important;
  color: #ca4045;
}

#guest_name {
  display: block;
  max-width: 700px;
  font-size: 60px;
  margin-bottom: -13px;
  opacity: .6;
}

.close {
  display: none;
  position: fixed;
  font-size: 200px;
  color: #8080804f;
  top: 50px;
  z-index: 9999999;
  text-align: center;
  width: 100%;
}

.scanner {
  text-align: center;
}

.scanner p {
  text-align: left;
}

.checkin_content p.error, .scan_error {
  display: none;
  position: absolute;
  font-size: 30px !important;
  margin-top: 19px !important;
}
/**===================  checkin page  ======================**/
@media screen and ( min-width: 1200px ) {

  .checkIn_page {
      height: 1080px;
      width: 1920px;
      background-position: 0;
  }

  .checkin_content {
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 100px;
  }

  .checkin_content .btn {
    font-size: 40px;
  }

  .checkIn_page img {
    width: 324px;
  }

  .checkin_content input {
    font-size: 29px;
  }

  .checkin_content video {
    width: 519px;
  }

  .box {
    margin: 20px;
    margin-top: 0;
  }

  .checkin_content p {
    font-size: 45px;
  }

  .checkin_content .btn {
    width: 100%;
    margin-top: 40px;
  }

  div.jQKeyboardContainer {
    padding-top: 250px !important;
    transform: scale(1.6) !important;
    top: -220px !important;
    width: 111.5% !important;
  }

  #key8 {
    right: 597px !important;
  }

  .close {
    left: 100px;
    width: auto;
    top: 44px;
    margin: 0;
 }

 #close {
    right: 25px;
    left: auto;
    width: auto;
    display: inline-block;
    top: 22px;
    position: fixed;
 }

 .register_popup .fa-times {
  font-size: 50px;
 }

 .register_popup #guests_info {
  padding-top: 222px;
 }

.register_popup input {
    width: 95.5%;
 }

 .register_popup #guests_info {
  max-width: 1000px;
 }

 .register_error {
  font-size: 41px;
 }


}


@media screen and ( max-width: 800px ) {
  .main_container {
    width: 90%;
  }

  .registration_box {
    max-width: 600px;
    width: 90%;
  }

  .dark_overlay h1 {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 40px;
  }

/*  .main_section {
    margin-top: 407px;
  }*/

}


@media screen and ( max-width: 600px ) {
  .event_date > .padding{
    width: 100% !important;
  }
}


@media screen and ( max-width: 500px ) {
  .input_50_l, .input_50_r, .registration_box .inner .form input {
    width: 94% !important;
    float: none !important;
  }

  .registration_box .inner .form select.states {
    margin-left: 0;
    width: 100%;
  }

}


@media only screen 
  and (max-device-width: 767px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .registration_box {
      margin-top: -150px;
    }

    .dark_overlay h1 {
      margin-top: 0;
      font-size: 30px;
      padding: 100px 30px;
    }

    .artboard .left_board, .artboard .right_board {
      width: 100%;
      float: none;
      margin: 0;
    }

    .hero {
      height: 450px;
    }

    .checkIn_page img {
      display: none;
    }

  .checkIn_page {
    width: 100%;
    height: 100%;
  }

  .checkin_content input {
        width: 75%;
    font-size: 20px !important;
    padding-bottom: 13px;
    padding-left: 8px;
  }

  .checkin_content .checkin_btn {
      font-size: 22px;
    padding: 10px;
  }

  .jQKeyboardContainer, .close  {
    display: none !important;
  }

  .checkin_content .btn {
    font-size: 20px;
  }

  .register_popup #guests_info {
    padding-top: 0;
  }

  #close {
    font-size: 20px;
    height: 100px;
    font-size: 30px;
  }

  .register_popup .fa-times {
    font-size: 30px;
  }

  .register_popup .btn {
      margin-top: 30px;
    width: 106%;
    font-size: 20px;
    padding: 13px;
  }

  .register_popup input {
    width: 90%;
    padding: 20px;
    font-size: 20px;
  }

  .register_popup p {
    font-size: 20px;
  }


  .box {
    width: 82%;
    padding: 20px;
  }

  .checkin_content {
    margin-top: 50px;
  }

  .box.scanner {
    display: none;
  }

  .checkin_content p {
    font-size: 20px;
  }


}







