.productInfo_pagewrapper {
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 42px;
    position: relative;
    padding-bottom: 24px;
    width: calc(100% - 36px);
}

.productInfo_pagewrapper > h2 {
    color: #e0b300!important;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 26px;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.productInfo_pagewrapper > h2 circle {
    display: inline-block;
    width: 44px;
    height: 44px;
    vertical-align: top;
    background: #e0b300!important;
    top: -14px;
    text-align: center;
    font-weight: bold;
    margin-right: 13px;
    position: relative;
    padding-top: 8px;
    line-height: 29px;
    border-radius: 24px;
}
.media.productInfoCall {
    background-image: url(../assets/img/productInfoCall.jpg);
    width: 100%;
    position: relative;
    height: 360px;
    background-size: contain;
    background-position: right center;
}
.productInfo_pagewrapper > h2 circle span {
    color: #f3f3f3;
    font-family: fashion;
    font-weight: bold;
    text-transform: lowercase;
    font-size: 26px;
    padding-left: 4px;
    padding-top: 6px;
    font-family: genath;
    font-family: 'Univers', Arial, sans-serif;
}

.contentRow:after {
    clear: both;
    content: '';
    display: table;
}

.contentRow > .col {
    position: relative;
    display: inline-block;
    float: left;
}

.contentRow:before {
    clear: both;
    content: '';
}

.contentRow.contentRow_of_3 > div.col {
    width: 33.333%;
}

.media.productInfoIntro {
    background-image: url(../assets/img/productInfoIntro.png);
    width: 100%;
    height: 238px;
    background-size: contain;
    position: relative;
    -webkit-filter: saturate(0);
}

.contentRow.contentRow_60_40 > div.col:first-child {
    width: 70%;
    padding-right: 46px;
    position: relative;
}

.contentRow.contentRow_60_40 > div.col:last-child {
    width: 30%;
}

.col.aboutIntro {
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    padding: 11px 20px;
    left: -76px;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    border: 2px solid #e0b300!important;
}

.contentRow > .col > h4 {
    text-transform: uppercase;
    color: #e0b300!important;
    font-weight: 600;
    letter-spacing: 1.2px;
    font-size: 17px;
    display: inline-block;
    margin-bottom: 4px;
    padding-bottom: 4px;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.contentRow > .col.aboutIntro > h4 {
    border-bottom: 2px solid #e0b300!important;
    margin-bottom: 12px;
}

a.productInfoBtn {
    background: #e0b300!important;
    color: #FFFFFF;
    text-decoration: none;
    padding: 11px 30px 6px;
    display: inline-block;
    margin-top: 6px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 8px;
    border-radius: 4px;
}

.contentRow > .col.aboutIntro > p {}

.contentRow > .col > p {
    font-size: 14.5px;
    line-height: 21px;
    margin-bottom: 7px;
}

.productInfo_pagewrapper .contentRow {
    margin-bottom: 48px;
    position: relative;
}

.col.benefits:before {
    position: absolute;
    width: 7px;
    content: '';
    border-radius: 2px;
    left: -22px;
    top: 1px;
    bottom: 5px;
    background-image: url(../assets/img/geo_pattern.png);
    background-size: 16px 16px;
    background-repeat: repeat;
    background-position: center center;
    -ms-filter: saturate(0);
    -moz-filter: saturate(0);
    -o-filter: saturate(0);
    -webkit-filter: saturate(0);
    filter: saturate(0);
}

.col.benefits {padding-bottom: 0;padding-top: 0px;}

.contentRow.contentRow_of_2.three_blocks_info > div.col {
    background: rgba(17, 12, 14, 0.05);
    padding: 21px 27px;
    width: calc(56% - (40px / 2));
    margin-right: 40px;
}

.contentRow.contentRow_of_2.three_blocks_info > div.col:last-child {
    margin-right: 0;
    width: calc(44% - (40px / 2));
    padding-bottom: 6px;
}

.col.benefits > p > b {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    color: #110c0e;
}

.col.benefits > p {
    color: rgba(17, 12, 14, 0.75);
}

.contentRow.contentRow_of_2 > div {
    width: 50%;
}

.contentRow.contentRow_of_2.three_blocks_info > div:first-child > div {
    margin-bottom: 20px;
    background: rgba(17, 12, 14, 0.05);
    padding: 21px 27px;
}

.contentRow.contentRow_of_2.three_blocks_info > div.col:first-child {
    background: transparent;
    padding: 0;
}
a.productInfoBtn:hover {
    background: #63A172;
}

.media.productInfoCall a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
}
.contentRow.contentRow_of_2.three_blocks_info > div:first-child > div > h4 {
    text-transform: uppercase;
    color: #e0b300!important;
    font-weight: 600;
    letter-spacing: 1.2px;
    font-size: 17px;
    display: inline-block;
    margin-bottom: 4px;
    padding-bottom: 4px;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.contentRow.contentRow_of_2.three_blocks_info > div.col:last-child ul p {
    font-size: 14.5px;
    line-height: 21px;
}

.contentRow.contentRow_of_2.three_blocks_info > div.col:last-child h4 {
    margin-bottom: 12px;
}

.contentRow.contentRow_of_2.three_blocks_info > div.col:last-child ul li:last-child p {
    border-bottom: 0;
}

.contentRow.contentRow_of_2.three_blocks_info > div:first-child > div p {
    font-size: 14.5px;
    line-height: 21px;
    padding-left: 24px;
    padding-right: 18px;
}

.productInfo_pagewrapper .contentRow.contentRow_of_2.three_blocks_info {
    margin-bottom: 12px;
}

.productInfo_pagewrapper .contentRow.contentRow_60_40 h2 {
    color: rgba(17,12,14,0.4);
    text-transform: uppercase;
    font-size: 42px;
    max-width: 450px;
    margin-top: 0;
    margin-left: 0;
    padding-right: 0;
    margin-right: 0;
    line-height: 51px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: left;
    margin-bottom: 8px;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.productInfo_pagewrapper .contentRow.contentRow_60_40 p {
    font-size: 14.5px;
    line-height: 21px;
    text-align: justify;
    position: relative;
    padding-left: 26px;
    float: left;
    padding-top: 15px;
    display: inline-block;
    width: 50%;
}

.productInfo_pagewrapper .contentRow.contentRow_60_40 > .col:first-of-type:before {content: '';background-image: url(../assets/img/geo_pattern.png);background-size: 16px 16px;background-repeat: repeat;background-position: center center;position: absolute;top: 155px;left: 0;width: 7px;border-radius: 1px;bottom: 10px;-ms-filter: saturate(0);-moz-filter: saturate(0);-o-filter: saturate(0);-webkit-filter: saturate(0);filter: saturate(0);}


.productInfo_pagewrapper .contentRow.contentRow_60_40 > .col > p:first-of-type {
    padding-bottom: 4px;
}
.media.productInfoIntro:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 69px;
    background: linear-gradient(90deg,#f3f3f3,transparent);
    content: '';
}
.productInfo_pagewrapper .contentRow.contentRow_60_40 h2 span {
    font-size: 29px;
    line-height: 21px;
    margin-top: 9px;
    display: block;
    margin-bottom: 7px;
    color: #e0b300!important;
}

.productInfo_pagewrapper .contentRow.contentRow_60_40 h2 b {
    text-align: right;
    display: block;
}

.productInfo_pagewrapper .contentRow.contentRow_60_40 > .col:after {
    clear: both;
    content: '';
    display: table;
}

@media screen and (max-width:690px){
    .contentRow > .col.aboutIntro > h4{
    font-size: 15px;
}
    .productInfo_pagewrapper > h2{
    font-size: 19px;
}
    .productInfo_pagewrapper > h2 circle{
    line-height: 38px;
}
    .productInfo_pagewrapper > h2 circle p{}
    .productInfo_pagewrapper .contentRow.contentRow_of_3 > div.col{
    width: 100%;
}
    .productInfo_pagewrapper .contentRow.contentRow_of_3 > div.col:first-child{
    position: absolute;
    left: 0;
    top: -32px;
}
    .productInfo_pagewrapper .contentRow.contentRow_60_40 h2{
    font-size: 26px;
    line-height: 27px;
    max-width: 100%;
}
    .productInfo_pagewrapper .contentRow.contentRow_60_40 h2 span{
    font-size: 19px;
    line-height: 13px;
}
    a.productInfoBtn:hover {
    background: #63A172;
}
    .contentRow.contentRow_of_2.three_blocks_info > div.col{
    width: 100%;
}
    .contentRow.contentRow_of_2.three_blocks_info > div.col:last-child{
    width: 100%;
    margin-top:18px;
}
    .contentRow.contentRow_60_40 > div.col:last-child .media{
        background-position:center center;
    }
    .contentRow.contentRow_60_40 > div.col:last-child{
    width: 100%;
    margin-top: 20px;
}
    .contentRow.contentRow_60_40 > div.col:first-child p{
    width: 100%;
    float: none;
    display: block;
}
    .contentRow.contentRow_60_40 > div.col:first-child{
    width: 100%;
    padding-right: 0;
}
    .productInfo_pagewrapper .contentRow{
    margin-bottom: 24px;
    margin-top: 29px;
}
    .productInfo_pagewrapper .contentRow.contentRow_of_3 > div.col:nth-child(2){
    left: 0;
}
    .contentRow.contentRow_of_2.three_blocks_info > div:first-child > div{}
    .productInfo_pagewrapper .contentRow.contentRow_of_3 > div.col:last-child{
    margin-left: 20px;
    padding-bottom: 0;
}
}