.search_tools_scroll_wrapper{
    position: relative;
}

.search_tools_container{
    height: auto;
    position: relative;
    background: #FFFFFF;
    margin-right: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: 1px 1px 1px rgba(179, 179, 179, 0.15),-1px -1px 1px rgba(179, 179, 179, 0.15);
    z-index: 100;
}
#diamond-table_wrapper .search_results_header .dataTables_sizing {
    height: auto!important;
}

#diamond-table_wrapper .search_results_header .dataTables_sizing p {
    padding-top: 8px;
    padding-right: 10px;
}
body.browse_diamond .global_header {-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;}

body.browse_diamond .global_header .header_nav_link_row li a:after {
    border-top-color: #6664BA;
}
.dataTables_scrollBody #diamond-table thead.search_results_header{
    display: none;
}
.dataTables_scrollHead thead.search_results_header{
    position: relative!important;
}
body .dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid rgba(186, 187, 191, 0.33);
}
.show_on_820 > h1.mobileDiamondBrowseTitle {
    font-family: genath;
    font-weight: 100;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .08em;
    color: rgba(17, 12, 14, 0.71);
}
div.dataTables_scrollHead {
overflow: hidden;
zoom: 1;
}
.content_wrapper_97 > .show_on_820 {
    background: rgba(186, 187, 191, 0.46);
    margin-top: 0;
    padding: 1rem .6rem;
    position: relative;
    z-index: 4;
}
.diamond_browse_content_width {
    max-width: 1280px;
    width: 97%;
    margin: 0 auto;
    position: relative;
}
body.browse_diamond div#primary_page_controller_wrapper > .content_wrapper_97 {
    width: 100%;
    max-width: 100%;
}
.search_tools_container:after{
    content:'';
    display:table;
    clear:both;
}
.search_tools_container:before{
    clear:both;
    content:'';
}

table#diamond-table {
    padding-top: 0;
    width: 100%!important;
    border-bottom: 0;
    z-index: 5;
    position: relative;
    margin-top: -6px;
}
.search_tools_container > div.invisible_wrapper_filters > h4:before {
    content: '';
    background-image: url(../assets/img/bunch_of_flowers.png);
    position: absolute;
    left: -20px;
    width: 30px;
}
table.dataTable thead .sorting_desc:after {
    content: '';
    background-image: url(../assets/img/sort_both_bottom.png)!important;
}
table.dataTable thead .sorting_asc:after {
    content: '';
    background-image: url(../assets/img/sort_both_top.png)!important;
}
.search_results_header th:after {
    content: '';
    background-image: url(../assets/img/sort_both.png);
    position: absolute;
    right: 7px;
    background-size: 100%;
    display: block;
    width: 8px;
    z-index: 100000;
    height: 20px;
    top: 13px;
    background-repeat: no-repeat;
}
.filters_wrapper a#deselect_all_shapes:active {
    color: #110c0e;
}
.reset_filters p {
    color: #424242;
    font-size: 12px;
    text-align: center;
    margin-top: -17px;
    font-weight: 100;
    display: inline-block;
    text-transform: uppercase;
    font-size: 11.5px;
    margin-left: 34px;
    vertical-align: top;
    font-weight: bold;
    letter-spacing: .07em;
    text-rendering: initial;
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga', 'kern';
}
.diamond_browse_content_width .row.row_of_3 > .col:nth-child(3), .diamond_browse_content_width .row.row_of_3 > .col:nth-child(4) {
    margin-top: -30px;
    width: 50%;
}
.reset_filters {}

.reset_filters svg {
    width: 12px;
    margin-left: 12px;
    display: inline-block;
    margin-top: 12px;
}

.search_results_header tr{
    width: 100%;
    display: table;
    border-spacing:10px;
    border-collapse: separate;
}

.search_results_header th {
    text-align: center;
    font-size: 12.5px;
    border-radius: 3px;
    position: relative;
    letter-spacing: .1px;
    background-color: #ffffff;
    margin-right: 12px;
    padding-bottom: 4px;
    top: 1px;
    height: 24px!important;
    border: 0!important;
    padding-bottom: 4px!important;
    color: #110c0e;
    background-color: rgb(255, 255, 255)!important;
    background: rgb(255, 255, 255)!important;
    font-weight: 500;
}

.search_results_header table {
    width: 100%;
}
.search_tools_scroll_wrapper.search_tools_fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 97px;
}

.diamond_browse_content_width .row.row_of_3 > .col {
    padding-left: 24px;
    padding-top: 34px;
    height: auto;
    padding-right: 40px;
    margin-top: 0;
    width: 100%;
    margin-bottom: 0;
}
.search_results_header th p {font-weight: 600;letter-spacing: -.3px;position: relative;color: #110c0e;top: -2px;}

.search_results_header {
    position: absolute;
    height: 50px;
    background: #131313;
    z-index: 10;
    padding-left: 7px;
    left: 0;
    width: 100%;
    top: 0;
    border-radius: 3px 3px 0 0;
}

.reset_filters {
    position: absolute;
    right: 0;
    top: 11px;
    width: 93px;
    height: 40px;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.28);
    border-radius: 4px;
}
.search_tools_container > span.diagonal_pattern:after {
    /* background-image: url(../assets/img/diamond_data.png); */
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-position: center center;
    background-size: 46%;
    opacity: 1;
    right: 0;
}
.search_tools_scroll_wrapper.search_tools_fixed.results_header_fixed .diamond_browse_content_width.search_tools_modulators, body.browse_diamond div#primary_page_controller_wrapper > .content_wrapper_97.filtersInactive .diamond_browse_content_width.search_tools_modulators {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}
.search_tools_container > span.diagonal_pattern {
    width: 100%;
    position: absolute;
    top: 0;
    border-radius: 0;
    left: 0;
    height: 62px;
    z-index: 10;
}

.content_wrapper_97 {
    max-width: 1280px;
    width: 97%;
    margin: 0 auto;
    position: relative;
}

.col_left_333 {
    width: 33.333%;
    display: inline-block;
    float: left;
}

.search_results_container {
    width: 100%;
    height: auto;
    position: relative;
    background: #FFFFFF;
    border-bottom: 1px solid rgba(186, 187, 191, 0.33);
    border-radius: 3px;
}

.col_right_666 {
    width: 100%;
    display: inline-block;
    height: auto;
    margin-bottom: 48px;
    padding-left: 0;
}

.full_width_header {
    max-width: 1280px;
    width: 97%;
    margin: 0 auto;
    line-height: 30px;
    position: relative;
    padding: 32px 0 8px;
}

.full_width_header h1 {
    font-family: genath;
    letter-spacing: .6px;
    color: #319C4A;
    vertical-align: bottom;
    display: block;
}
.racc_visible {}

.sub_filters_wrapper.responsive_accordion_ui {}
td.dt-body-center.abs_chevron_wrapper {
    position: absolute;
    left: 0;
    padding: 13px 6px;
    width: 25px;
    opacity: 0;
    -webkit-transition: all 150ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 150ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 150ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 150ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 150ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
}

td.dt-body-center.abs_chevron_wrapper i {}

td.dt-body-center.abs_chevron_wrapper i svg {
    width: 12px;
}

tr.diamond_search_result_row:hover td.dt-body-center.abs_chevron_wrapper {
    opacity: 1;
}

tr.diamond_search_result_row {
    -webkit-transition: all 150ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 150ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 150ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 150ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 150ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
}

tr.diamond_search_result_row:nth-child(even) {
    background: #F1F1F1;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background: rgba(0, 0, 0, 0.15)!important;
    color: rgba(17, 12, 14, 0.6);
}

.search_tools_container div.invisible_wrapper_filters > h4 {
    color: #1d1d1d1;
    z-index: 1;
    position: absolute;
    text-transform: none;
    font-size: 29px;
    font-weight: 100;
    line-height: 19px;
    letter-spacing: 2.225px;
    margin-right: 35px;
    display: inline;
    font-family: 'Beausite';
    padding-top: -1px;
    line-height: 38px;
    padding-top: 19px;
    margin-left: 0;
    text-transform: uppercase;
    top:50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-rendering: optimizelegibility;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.invisible_wrapper_filters{
    width: 100%;
    height: 50px;
    position: relative;
    margin-bottom: 0;
}

.noUi-origin.noUi-connect {
    background: #FFFFFF;
}

div#price_range_nonlinear,div#color_range_nonlinear,div#carat_range_nonlinear,div#cut_range_nonlinear,div#clarity_range_nonlinear,div#polish_range_nonlinear,div#symmetry_range_nonlinear {
    border: 0;
    background: #e5e5e5;
    height: 7px;
}

.noUi-origin.noUi-background {
    background: #e5e5e5;
}

.noUi-handle.noUi-handle-upper {
    border-radius: 100px;
    width: 24px;
    height: 24px;
    top: -11px;
    cursor: pointer;
}

.noUi-handle.noUi-handle-lower {
    border-radius: 100px;
    width: 24px;
    height: 24px;
    top: -11px;
    cursor: pointer;
}
.responsive_accordion_ui.racc_active > .racc_hidden {
    visibility: visible;
    max-height: 1000px;
    padding-bottom: 24px;
    padding-top: 18px;
}
.mdl-checkbox__ripple-container .mdl-ripple {
    background: #e0b300!important;
}

.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
    border: 2px solid #e0b300!important;
}

.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
    background: #e0b300!important;
}

.filters_wrapper label {
    display: block;
    width: 100%;
    width: 50%;
    display: inline-block;
    float: left;
}

.filters_wrapper > p {
    font-size: 12px;
}

.filters_wrapper h5 {
    font-family: 'Beausite';
    color: rgba(17, 12, 14, 0.42);
    font-weight: 100;
    letter-spacing: .15px;
    text-transform: uppercase;
    font-size: 13px;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 4px;
    -webkit-font-smoothing: antialiased;
}

div#toggle_mobile_diamond_search_panel:hover path {
}

div table.dataTable.stripe tbody tr.odd, div table.dataTable.display tbody tr.odd {
    background: #FFFFFF;
}

div .dataTables_wrapper .dataTables_info {
    padding-left: 20px;
    font-size: 12px;
    padding-top: 22px;
    color: #babbbf!important;
    text-transform: uppercase;
}

div#diamond-table_paginate {
    padding-right: 20px;
    padding-bottom: 12px;
    padding-top: 12px;
    background: #FFFFFF;
}
#diamond-table_wrapper tr.child td {
background: #e5e5e5;     margin-left: 68px;     padding: 20px 27px;     margin-right: 68px;     -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09) inset,0 -2px 1px rgba(255, 255, 255, 0.15) inset;     box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09) inset,0 -2px 1px rgba(255, 255, 255, 0.15) inset;     height: auto;     padding-right: 50px;     border-bottom: 1px solid rgba(255, 255, 255, 0.87);}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
    box-shadow: none!important;
    box-shadow: none!important;
    background: #319C4A!important;
    width: 24px!important;
    font-size: 20px;
    height: 20px!important;
    left: 8px!important;
    font-weight: 600;
    border: 0!important;
    font-family: Gotham;
    padding-top: 6px;
    border-radius: 2px!important;
}
.dataTables_scrollBody tbody td, .dataTables_scrollHeadInner thead th div{
overflow-x: hidden;
width: inherit;
}
table.dataTable>tbody>tr.child span.dtr-title p {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #999A9C;
}
table.dataTable>tbody>tr.child ul li{
    border: 0!important;
}

#diamond-table_paginate a.paginate_button.previous,#diamond-table_paginate a.paginate_button.next {
    width: 8px;
    margin-bottom: -4px;
    height: 15px;
    font-size: 0;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(../assets/img/left_arrow_black.png);
    background-size: 19%;
    text-align: center;
    font-size: 0;
    background-position: center center;
    border-radius: 4px;
    position: relative;
    letter-spacing: .1px;
    overflow: hidden;
    outline: 0;
    background-color: transparent;
    width: 39px;
    margin-right: 12px;
    padding-bottom: 4px;
    height: 32px!important;
    border: 0!important;
    padding-bottom: 4px!important;
    color: #110c0e;
    font-weight: 500;
}

#diamond-table_paginate a.paginate_button.next {
    background-image: url(../assets/img/right_arrow_black.png)!important;
}



#diamond-table_paginate a.paginate_button.current {
    background: transparent!important;
    box-shadow: none!important;
    border-color: transparent!important;
}

#diamond-table_paginate a.paginate_button.disabled {
    opacity: 0;
    visibility: hidden;
}

div#toggle_mobile_diamond_search_panel:hover {
}

div#toggle_mobile_diamond_search_panel:active {
}

div#toggle_mobile_diamond_search_panel:active path {
    fill: rgba(67, 212, 101, 0.71);
}

.filters_wrapper.range_filters_wrapper {
    padding-bottom: 38px;
}

.filters_wrapper.range_filters_wrapper > h5 {
    margin-bottom: 6px;
}

.mdl-slider__container {
position: absolute;left: 47px;right: 52px;}

span.mdl-checkbox__label {
    text-transform: capitalize;
    font-size: 14px;
    color: #595959;
    letter-spacing: .2px;
    font-weight: 500;
}

.reset_filters path {
    fill: #e8c129;
}

.filters_wrapper {
    margin: 0 0px 0px;
    /* border-bottom: 1px solid #f2f2f2; */
    padding-bottom: 14px;
    position: relative;
    min-height: 39px;
    float: left;
    width: 100%;
    max-width: 1080px;
}

table.dataTable tbody th.dt-body-center a, table.dataTable tbody td.dt-body-center a {
    display: block;
    cursor: pointer;
    color: #110c0e;
    text-decoration: none;
}

table.dataTable tbody th.dt-body-center a:hover, table.dataTable tbody td.dt-body-center a:hover {
}

p#lower-value {
    position: absolute;
    bottom: -4px;
    font-size: 11px;
    left: 41px;
    text-align: right;
    width: 44px;
}
.priceRangeCol {
    float: left;
    width: 100%;
}

.priceRangeCol .filters_wrapper.range_filters_wrapper.responsive_accordion_ui {
    max-width: 100%;
    padding-left: 24px;
}

.racc_hidden .mdl-slider__background-flex {
    height: 7px;
    margin-top: -3px;
}

.noUi-origin.noUi-connect:after {content: '';position: absolute;left: 0;top: 0;right: 0;bottom: 0;background: repeating-linear-gradient(-55deg, #fde06f, #fde06f 10px,#242424 10px,   #242424 20px );}
p#upper-value {
    right: 64px;
    position: absolute;
    font-size: 11px;
    bottom: -2px;
}

@media screen and (max-width:1030px){
    .search_results_col_right.col_right_666{
        width: calc(100% - 335px);
    }
}

.search_results_header th:first-of-type {
    background: none;
    border: 0;
}

.filters_wrapper label:nth-child(2) {
    float: right;
}

div.noUi-handle {
    box-shadow: none;
    width: 28px!important;
    height: 28px!important;
    border-width:2px;
    background: #FFFFFF;
    -webkit-transform: scale(.85);
    transform: scale(.85);
}

.noUi-state-drag .noUi-handle.noUi-active {
    border-color:#fde06f;
    -webkit-transform: scale(1);
    transform: scale(1);    
}

.filters_wrapper.shapes_filter_wrapper .option_box {
    display: inline-block;
    height: 64px;
    vertical-align: top;
    width: calc(9.09% - 12px);
    cursor: pointer;
    margin-right: 12px;
    border-radius: 0;
    float: left;
    margin-bottom: 14px;
    padding-top: 4px;
}

.filters_wrapper.shapes_filter_wrapper .option_box input{
    opacity:0;
    outline:none;
}

.diamond_shape {
    background-image: url(../assets/img/diamond_shapes.png);
    width: 100%;
    height: 64px;
    background-size: 827%;
    background-repeat: no-repeat;
    margin: 0 auto;
    -webkit-transition: opacity .28s cubic-bezier(0.72, 0.01, 0.56, 1);
    transition: opacity .28s cubic-bezier(0.72, 0.01, 0.56, 1);
}

.shapes_filter_wrapper .option_box {
}

.shapes_filter_wrapper .option_box.option_box_selected {
}


.sub_filters_wrapper h6 {
    text-transform: capitalize;
    font-size: 19px;
    color: rgba(17, 12, 14, 0.9);
    margin-bottom: 4px;
    letter-spacing: 0;
    font-family: Genath;
    font-weight: 100;
}
.sub_filters_wrapper .mdl-slider__container {
    left: 16px;
    right: 0;
}

div#color_range_nonlinear,div#carat_range_nonlinear,div#clarity_range_nonlinear,div#cut_range_nonlinear,div#polish_range_nonlinear,div#symmetry_range_nonlinear {
    width: 100%;
    margin: 0!important;
}

.filters_wrapper ol.key {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 16px;
    width: 100%;
    float: left;
}
.content_wrapper_97.col_right_active div#toggle_mobile_diamond_search_panel{
}


div#toggle_mobile_diamond_search_panel p {
    width: auto;
    font-size: 11px;
    line-height: 19px;
    display: inline-block;
    padding-top: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
}
div#toggle_mobile_diamond_search_panel svg {
    width: 19px;
    display: inline-block;
    left: 8px;
    margin-right: 1px;
    -webkit-transform: rotate(-90deg);
    display: none;
    transform: rotate(-90deg);
    margin-top: -3px;
}

div#toggle_mobile_diamond_search_panel {
    width: auto;
    height: 56px;
    position: relative;
    padding: 0 13px;
    right: -10px;
    display: inline-block;
    border-radius: 0;
    top: -40px;
    float: right;
    text-align: center;
    cursor: pointer;
    z-index: 1000;
    background: #e0b300;
}

div#toggle_mobile_diamond_search_panel svg path {
    fill: #FFFFFF;
}

div#toggle_mobile_diamond_search_panel.col_right_active_toggled svg{
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.search_col_left.col_left_333 {
    width: 100%;
    display: block;
    float: none;
}

.filters_wrapper ol.key li {
    width: 10%!important;
    display: inline-block;
    float: left;
    text-align: center;
    font-size: 12px;
}

input#carat_input_min,input#carat_input_max {
    border: 0;
    margin-top: 22px;
    background: #f2f2f2;
    padding: 4px;
    border-radius: 2px;
    width: 50px;
    outline: 0;
    padding-top: 6px;
    text-align: center;
    font-size: 12px;
}

input#carat_input_min {
    float: left;
}

input#carat_input_max {
    float: right;
}

.sub_filters_wrapper {
    float: left;
    width: 100%;
    margin-bottom: 8px;
}

input#carat_input_min:hover, input#carat_input_max:hover,input#carat_input_min:focus, input#carat_input_max:focus {
    background: #eaeaea;
}

.search_results_wrapper {
    padding-top: 50px;
}

.search_results_count {
    margin: 6px 5px;
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
    background: rgba(187, 162, 225, 0.83);
    text-align: center;
    border-radius: 21px;
    font-size: 12px;
    color: #ffffff;
    font-weight: 100;
    text-transform: capitalize;
    position: relative;
    height: 31px;
    letter-spacing: .2px;
    margin-bottom: 4px;
    padding: 3px 0 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.search_results_list li div {
    display: inline-block;
    float: left;
    margin-right: 12px;
    width: -webkit-calc(14% - 12px);
    width: calc(14% - 12px);
}

.search_results_list li div img {
    width: auto;
    height: 47px;
    margin: 0 auto;
    display: block;
}

.search_results_list li {
    padding: 12px 4px;
    overflow: auto;
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: all 180ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 180ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 180ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 180ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 180ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
}

li.diamond_result_row:hover {
    background: #fafafa;
}

.search_results_list {
    margin: 0 5px;
}

.search_results_list li div p {
    padding-top: 13px;
    font-size: 14px;
    letter-spacing: .2px;
}

.iScrollVerticalScrollbar:hover > .iScrollIndicator {}

.iScrollVerticalScrollbar:hover {
    width: 7px!important;
    background-color: rgba(186, 187, 191, 0.35)!important;
}

.filters_wrapper ol.key.clarity_key li {
    width: 11%!important;
}

.filters_wrapper ol.key.polish_key li {
    width: 33%!important;
}

.search_results_count p {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 4px;
    background: -webkit-linear-gradient(top,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
    background: linear-gradient(to bottom,rgba(255,255,255,.15) 0,rgba(255,255,255,.05) 100%);
    bottom: 0;
}

.filters_wrapper ol.key.cut_key li {
    width: 33%!important;
}

.show_on_820{
    display:none;
    visibility:hidden;
}

@media screen and (max-width:820px){
    .sub_filters_wrapper .mdl-slider__container{
    left: 40px;
    right: 40px;
}
    .responsive_accordion_ui{
    width: 100%!important;
    border-bottom: 1px solid rgba(186, 187, 191, 0.3);
    padding-bottom: 0!important;
    height: auto;
    overflow: hidden;
    float: none;
}
    .racc_visible h5:after{
        display:table;
        content:'';
        clear:both;
    }
    .racc_visible h5,.racc_visible h6{
    font-family: genath;
    color: #110c0e;
    font-weight: 100;
    letter-spacing: .15px;
    text-transform: uppercase;
    padding-left: 20px;
    text-align: left;
    font-size: 16px;
    text-rendering: optimizelegibility;
    pointer-events: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
    .filters_wrapper > h5{
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #babbbf;
    border-top: 1px solid #babbbf;
    margin-bottom: 4px;
    margin-top: -8px;
    text-transform: lowercase;
    background: rgba(186, 187, 191, 0.2);
    color: #8b8b8b;
    letter-spacing: .04em;
}
    .filters_wrapper a#deselect_all_shapes{
    display: inline-block;
    margin-bottom: 11px;
    padding: 3px 16px;
    color: #FFFFFF;
    margin-top: 7px;
    position: absolute;
    margin-right: 18px;
    text-align: right;
    right: 40px;
    line-height: 26px;
    height: 30px;
    background: #babbbf;
}
    .racc_visible:after{
        content:'';
        background-image: url(../assets/img/down_chevron.png);
        width: 10px;
        height: 9px;
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        position: absolute;
        right: 17px;
        margin-top: -3px;
        top: 50%;
    }
    .racc_visible{
        text-align:center;
        width:100%;
        position: relative;
        display:block;
        z-index: 100;
        height: 50px;
        float:none;
        cursor: pointer;
        line-height: 50px;
        text-transform: uppercase;
    }
    .racc_hidden{
        visibility:hidden;
        max-height:0;
        margin: 0 30px;
        overflow:hidden;
    }
    div .dataTables_wrapper .dataTables_info{
    padding-top: 10px;
}
    .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody{}
    .search_results_container{
        background-color: #EBEBEB;
    }
    .clarity_column{
        display: none!important;
    }
    .search_results_header{
        position: absolute!important;
        left:0!important;
        right:0!important;
        width:100%!important;
        top:0!important;
    }
    div.search_tools_container div.invisible_wrapper_filters > h4{
        font-size:20px;
        line-height: 20px;
    }
    .search_tools_scroll_wrapper{
        position: relative!important;
        top:auto!important;
        width:100%!important;
        height: initial!important;
        overflow: visible!important;
    }
    .show_on_820{
        display:block;
        visibility:visible;
    }
    div .search_results_header th p{
        font-size:11px!important;
    }
    .search_results_header th:before{
        content:'';
        background: #e5e5e5;
        position: absolute;
        top: -7px;
        bottom: -7px;
        left: 0;
        right: -11px;
        z-index: -1;
    }
    .search_results_header th{
        width: 
        -webkit-calc(16% - 10px);
        width: calc(16% - 10px);
        margin-right: 0;
    }
    .invisible_wrapper_filters{
        margin-bottom:0;
    }
    .diamond_browse_content_width.search_tools_modulators{
        width:100%;
        max-width:100%;
    }
    .diamond_browse_content_width .row.row_of_3 > .col{
        width:100%;
        border:0;
        float:none;
        display:block;
        height:initial;
        padding-left:0;
        padding-right:0;
        padding-top: 0;
        margin-top: 12px;
    }
    div#toggle_filter_container{
        display:none!important;
    }
    .search_tools_container{
    width: 100%;
    margin-top: 0;
    z-index: 0;
    margin-bottom: -42px;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
}
    .search_col_left.col_left_333{
        position: relative;
        min-height: 0;
        width: 100%;
        opacity: 0;
        margin-bottom: 28px;
        display: none;
        z-index: 1;
        -webkit-transition: opacity 330ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
        -moz-transition: opacity 330ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
        -ms-transition: opacity 330ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
        -o-transition: opacity 330ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
        transition: opacity 330ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
        margin-top: 0;
    }
    body div.dataTables_scrollHead, body div.dataTables_scrollHead.search_results_header_fixed{
        position: relative!important;
        top: 0!important;
        z-index: 1000;
    }
    .search_results_col_right.col_right_666{
        width: 100%;
        padding-left: 0;
        margin-bottom: 54px;
        margin-top: 0;
        margin-top: -0px!important;
    }
    .content_wrapper_97{
    }
    body.browse_diamond div#primary_page_controller_wrapper > .content_wrapper_97{
    width: 100%;
}
    .content_wrapper_97.col_right_active{
    width: 100%;
    }
    .search_tools_container > div.invisible_wrapper_filters > h4{
    display: none;
}
    div.sub_filters_wrapper{
        width:calc(100% - 50px);
        /* float:none; */
        margin: 0 auto;
    }
    .content_wrapper_97.col_right_active .search_col_left.col_left_333{
        opacity: 1;
        display: block;
    }
}

@media screen and (max-width:690px){

/*     body div#diamond-table_wrapper table.responsive tr > th{
    border-radius: 0!important;
    border-left: 1px solid rgba(195, 195, 195, 0.45)!important;
}*/

    body div#diamond-table_wrapper table tr > th:nth-of-type(1),body div#diamond-table_wrapper table tr > td:nth-of-type(1){
        display:none;
    }
    body div#diamond-table_wrapper table tr > th:nth-of-type(4),body div#diamond-table_wrapper table tr > td:nth-of-type(4){
        display:none;
    }

/*    body div#diamond-table_wrapper table.responsive tr > th:nth-of-type(2){
        width: 30%!important;
        border-left: 0!important;
        left: -10px!important;
    }

    body div#diamond-table_wrapper table.responsive tr > th:nth-of-type(3){
        width: 12%!important;
        left: -20px!important;
    }
     
    body div#diamond-table_wrapper table.responsive tr > th:nth-of-type(4){
        width: 20%!important;
        left: -29px!important;
    }

    body div#diamond-table_wrapper table.responsive tr > th:nth-of-type(5){
        width: 10%!important;
        left: -30px!important;
    }

    body div#diamond-table_wrapper table.responsive tr > th:nth-of-type(6){
        width: 12%!important;
        left: -40px!important;
    }*/


    div.search_results_list li div p{
        font-size: 12px;
    }
    div .search_results_count p{
        font-size: 10.5px;
    }
    .search_results_header th{
        width: 
        -webkit-calc(20% - 10px);
        width: calc(20% - 10px);
        margin-right: 0;
    }
    .color_column{
        display: none!important;
    }
}

.filters_wrapper.shapes_filter_wrapper .option_box:last-of-type {margin-right: 0;}

.diamond_shape.diamond_shape_heart {
    background-position: 80.1% 50%;
}
#diamond-table_length, #diamond-table_filter{
    display: none;
}
.tooltip {
    display:none;
    position:absolute;
    background-color:rgba(17, 12, 14, 0.85)!important;
    border-radius:5px;
    padding:2px 9px;
    text-transform:uppercase;
    font-size:12px;
    color:rgba(255,255,255,1);
    z-index: 1000000000000000001;
    font-size:12px Arial;
}

.diamond_shape.diamond_shape_cushion {
    background-position: 90.8% 50%;
}

.diamond_shape.diamond_shape_marquise {
    background-position: 19% 50%;
    background-size: 1038%;
    height: 60px;
    width: 90%;
    margin-top: -1px;
}

.filters_wrapper:last-child {
    margin-top: -6px;
}
h5#advanced-filters {
    background: -moz-linear-gradient(#f3f3f3,#d5d6da);
    background: -webkit-linear-gradient(#f3f3f3,#d5d6da);
    background: linear-gradient(#F7F7F7,#eaeaea);
    border: 1px solid rgba(186, 187, 191, 0.25);
    border-bottom-color: rgba(186, 187, 191, 0.71);
    display: block;
    height: 40px;
    font-family: fashion;
    text-align: Center;
    -webkit-transition: all 150ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 150ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 150ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 150ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 150ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    line-height: 42px;
    letter-spacing: 1px;
    margin-top: 18px;
    font-size: 14px;
    margin-left: 24px;
    text-transform: uppercase!important;
    margin-bottom: 13px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 3px;
    width: calc(100% - 40px)!important;
}
#diamond-table_wrapper .search_results_header tr th:first-of-type {
    display: none;
}
.responsive_accordion_ui.racc_active .racc_visible:after {
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    transform: scaleY(-1);
}

.advanced-fitler-sub.sub_filters_wrapper .mdl-slider__container > div {
    width: 100%!important;
    margin-right: 0!important;
}

h5#advanced-filters:hover {
    background: #f4f4f4;
}
.diamond_shape.diamond_shape_oval {
    background-position: 37.4% 50%;
    background-size: 1169%;
    height: 60px;
    width: 80%;
    margin-top: -3px;
}

.diamond_shape.diamond_shape_pear {
    background-position: 28% 50%;
    width: 85%;
    background-size: 1134%;
}

.diamond_shape.diamond_shape_Pear {
    background-position: 28% 27%;
    width: 85%;
    background-size: 1077%;
}

div#diamond-table_wrapper table.responsive tr > th:nth-of-type(1), table#diamond-table tr > td:nth-of-type(1) {}

div#diamond-table_wrapper table.responsive tr > th:nth-of-type(2), table#diamond-table tr > td:nth-of-type(2) {
    width: 28%!important;
    padding: 10px 10px 6px;
}

div#diamond-table_wrapper table.responsive tr > th:nth-of-type(3), table#diamond-table tr > td:nth-of-type(3) {
    width: 12%!important;
}
 
div#diamond-table_wrapper table.responsive tr > th:nth-of-type(4), table#diamond-table tr > td:nth-of-type(4) {
    width: 20%!important;
    text-transform: uppercase;
}

div#diamond-table_wrapper table.responsive tr > th:nth-of-type(5), table#diamond-table tr > td:nth-of-type(5) {
    width: 10%!important;
}

div#diamond-table_wrapper table.responsive tr > th:nth-of-type(6), table#diamond-table tr > td:nth-of-type(6) {
    width: 12%!important;
}

div.dataTables_scrollHead.search_results_header_fixed {
    position: fixed!important;
    z-index: 1000;
    top: 157px;
}
.search_tools_scroll_wrapper.search_tools_fixed.results_header_fixed {
    z-index: 100;
    height: 60px;
    overflow: hidden;
}
.diamond_browse_content_width.search_tools_header_content {
    z-index: 10;
}

.diamond_browse_content_width.search_tools_header_content {}
table#diamond-table {}

div#diamond-table_wrapper {}

table#diamond-table tr > td:nth-of-type(2) img {
    margin-right: 11px;
    margin-top: -3px;
}
div#reset-search:active {
    border-color: #FFFFFF;
}
div#diamond-table_wrapper table.responsive tr > th:nth-of-type(7), table#diamond-table tr > td:nth-of-type(7) {
    width: 20%!important;
}
.row.row_of_3 {}

.row.row_of_3 > .col {
    width: 33.333%;
    display: inline-block;
    float: left;
}

.row.row_of_3:after {content: '';clear: both;display: table;}

.row.row_of_3 > .col:last-child {
    border-right: 0!important;
}
.search_tools_container.filters_browse_container > .row.row_of_3 {
    box-shadow: 0px 5px 2px -3px rgba(0,0,0,0.2);
    transition: clip 400ms cubic-bezier(0.4, 0, 0.2, 1),-webkit-transform 100ms linear;
    transition: clip 400ms cubic-bezier(0.4, 0, 0.2, 1),transform 100ms linear;
    transition: clip 400ms cubic-bezier(0.4, 0, 0.2, 1),transform 100ms linear,-webkit-transform 100ms linear;
    padding: 0 8px;
}
div#toggle_filter_container {
    display: inline-block;
    float: left;
    position: absolute;
    top: 11px;
    cursor: pointer;
    right: 120px;
    height: 40px;
    padding: 16px 18px;
    z-index: 1000;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.28);
    border-radius: 4px;
}
body.browse_diamond div#primary_page_controller_wrapper > .content_wrapper_97.filtersInactive {}

body.browse_diamond div#primary_page_controller_wrapper > .content_wrapper_97.filtersInactive .search_tools_scroll_wrapper {
    z-index: 100;
    height: 60px;
    overflow: hidden;
}

body.browse_diamond div#primary_page_controller_wrapper > .content_wrapper_97.filtersInactive div#toggle_filter_container p:after {
    display: none;
}

body.browse_diamond div#primary_page_controller_wrapper > .content_wrapper_97.filtersInactive div#toggle_filter_container p:before {
    display: block;
}
div#toggle_filter_container > p {
    color: #424242;
    font-size: 12px;
    text-align: center;
    font-weight: 100;
    display: inline-block;
    text-transform: uppercase;
    line-height: 1;
    font-size: 11.5px;
    position: relative;
    vertical-align: top;
    font-weight: bold;
    letter-spacing: .07em;
    text-rendering: initial;
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga', 'kern';
}

body.browse_diamond div#primary_page_controller_wrapper > .content_wrapper_97.filtersActive div#toggle_filter_container p:before {display:none;}

body.browse_diamond div#primary_page_controller_wrapper > .content_wrapper_97.filtersActive div#toggle_filter_container p:after {display:block;}
div#toggle_filter_container > p:before {content: 'Show Filters';display: none;}

div#toggle_filter_container > p:after {content: 'Hide Filters';}

.search_tools_scroll_wrapper.search_tools_fixed.results_header_fixed div#toggle_filter_container > p:before {
    display: block;
}
.priceRangeCol .mdl-slider__container {
    left: 18px;
    right: 21px;
}
body.browse_diamond div#primary_page_controller_wrapper > .content_wrapper_97.filtersInactive .search_results_col_right.col_right_666.marginTopActive {
    margin-top: 60px!important;
}
.search_tools_scroll_wrapper.search_tools_fixed.results_header_fixed div#toggle_filter_container > p:after {
    display: none;
}
body.browse_diamond div#primary_page_controller_wrapper > .content_wrapper_97.filtersActive {}

body.browse_diamond div#primary_page_controller_wrapper > .content_wrapper_97.filtersActive .search_tools_scroll_wrapper.search_tools_fixed.results_header_fixed {
    height: auto;
}

body.browse_diamond div#primary_page_controller_wrapper > .content_wrapper_97.filtersActive .diamond_browse_content_width.search_tools_modulators {
    transform: translateY(0%);
}
body.browse_diamond div#primary_page_controller_wrapper > .content_wrapper_97.filtersActive .search_tools_scroll_wrapper.search_tools_fixed {
    overflow: hidden;
    z-index: 100;
}
body.browse_diamond div#primary_page_controller_wrapper > .content_wrapper_97.filtersActive div.dataTables_scrollHead {
    top: 569px;
    position: fixed!important;
    z-index: 1000;
}
body.browse_diamond div#primary_page_controller_wrapper > .content_wrapper_97.filtersInactive .search_results_col_right.col_right_666.marginTopActive div.dataTables_scrollHead {
    position: fixed!important;
    z-index: 1000;
    top: 157px;
}

body.browse_diamond div#primary_page_controller_wrapper > .content_wrapper_97.filtersInactive .search_results_col_right.col_right_666.marginTopActive div.dataTables_scrollBody {
    margin-top: 60px!important;
}
div#shape_selector {
    padding-bottom: 0;
}