.content_wrapper_97.wholesale_content_wrapper .media_collage {
    background-image: url(../assets/img/wholesale_img.png);
    height: 1050px;
    background-size: contain;
    position: relative;
    left: 0;
    width: 100%;
    top: 0;
    right: 0;
    margin-top: 17px;
    bottom: 0;
    margin-bottom: 68px;
}

.content_wrapper_97.wholesale_content_wrapper > .col_left,.content_wrapper_97.wholesale_content_wrapper > .col_right {
    display: inline-block;
    float: left;
}

.content_wrapper_97.wholesale_content_wrapper:after {
    clear: both;
    content: '';
    display: table;
}

.content_wrapper_97.wholesale_content_wrapper:before {
    clear: both;
    content: '';
    display: table;
}

.content_wrapper_97.wholesale_content_wrapper > .col_right.col_left55 {
    width: 55%;
}

.content_wrapper_97.wholesale_content_wrapper > .col_left.col_left45 {
    width: calc(45% - 40px);
    margin-right: 40px;
    padding: 27px 28px 24px;
    border-radius: 3px;
    padding-left: 0;
    padding-right: 0;
    margin-top: -15px;
}



.content_wrapper_97.wholesale_content_wrapper {
    padding-top: 36px;
}
.content_wrapper_97.wholesale_content_wrapper > .col_right.col_left55 ul li:last-child {
    margin-bottom: -10px;
    padding-bottom: 0;
}
.content_wrapper_97.wholesale_content_wrapper > .col_right.col_left55 h2 {
    font-family: genath;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 25px;
    line-height: 31px;
}

.content_wrapper_97.wholesale_content_wrapper > .col_right.col_left55 ul {
    margin-top: 2px;
}

.content_wrapper_97.wholesale_content_wrapper > .col_right.col_left55 ul li ,ul.special_diamond_bullet li{
    position: relative;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.content_wrapper_97.wholesale_content_wrapper > .col_right.col_left55 > p {
    margin-top: 26px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 18px;
    opacity: .4;
}
.content_wrapper_97.wholesale_content_wrapper > .col_right.col_left55 i {
    font-family: genath;
    font-size: 12px;
    opacity: .5;
    font-style: normal;
    text-align: left;
    display: block;
    font-weight: bold;
}
.content_wrapper_97.wholesale_content_wrapper > .col_right.col_left55 ul li:before,ul.special_diamond_bullet li:before {
        display: inline-block;
        position: absolute;
        border: 5px solid transparent;
        border-top-color: #C3C3C3;
        width: 8px;
        vertical-align: bottom;
        height: 7px;
        top: 10px;
        left: 0px;
        content:'';
}

.content_wrapper_97.wholesale_content_wrapper > .col_right.col_left55 ul li:after,ul.special_diamond_bullet li:after {
    position: absolute;
    border: 5px solid transparent;
    border-bottom-color: #707070;
    content: '';
    top: 0;
}

.content_wrapper_97.wholesale_content_wrapper > .col_right.col_left55 ul li p,ul.special_diamond_bullet li p {
    margin-left: 17px;
    line-height: 27px;
    border-bottom: 1px solid rgba(17, 12, 14, 0.08);
    font-size: 16px;
    margin-right: 37px;
    padding-bottom: 18px;
    position: relative;
    top: -3px;
}

.content_wrapper_97.wholesale_content_wrapper > .col_right.col_left55 ul li p b,ul.special_diamond_bullet li p b {
    color: #e0b300!important;
}

.content_wrapper_97.wholesale_content_wrapper > .col_right.col_left55 ul li:last-child p {
    border-bottom: 0;
}

.content_wrapper_97.wholesale_content_wrapper > .col_left.col_left45 form > div {
    width: 100%;
    background: #FFFFFF;
    margin-bottom: 0;
    padding: 22px 20px 29px;
    z-index: 0;
    position: relative;
    margin-top: -22px;
    border-radius: 0;
    box-shadow: 1px 1px 1px rgba(179, 179, 179, 0.15),-1px -1px 1px rgba(179, 179, 179, 0.15);
    border-left: 2px solid #e0b300!important;
}

.content_wrapper_97.wholesale_content_wrapper > .col_left.col_left45 > h1 {
    color: #e0b300!important;
    font-size: 39px;
    display: block;
    font-weight: 100;
    text-transform: uppercase;
    font-family: 'Univers', Arial, sans-serif;
    margin-top: -4px;
    padding-bottom: 15px;
    border-bottom: 2px solid #e0b300!important;
}

.content_wrapper_97.wholesale_content_wrapper > .col_left.col_left45 form {
    display: block;
    margin-top: 22px;
}

.content_wrapper_97.wholesale_content_wrapper > .col_left.col_left45 label {
    display: block;
    margin-top: 12px;
    margin-bottom: -1px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .7px;
}

.content_wrapper_97.wholesale_content_wrapper > .col_left.col_left45 form > span.diamond_connector {
    margin: 0 auto;
    width: 27px;
    height: 27px;
    position: relative;
    top: -11px;
    z-index: 3;
    display: block;
    background-color: #548860;
    background-image: url(../assets/img/geo_pattern.png);
    background-size: 24px 24px;
    background-repeat: repeat;
    background-position: center center;
    transform: rotate(45deg);
    box-shadow: 1px 2px 2px rgba(179, 179, 179, 0.39),-1px -1px 1px rgba(179, 179, 179, 0.31);
    border-radius: 2px;
    overflow: hidden;
}
.content_wrapper_97.wholesale_content_wrapper > .col_left.col_left45 select.agd_select {
    border-image: none;
    font-size: 14px;
    box-shadow: none;
    -webkit-appearance: none!important;
    -webkit-border-radius: 1px;
    outline: none;
    background-color: #fafafa;
    padding: 7px 12px;
    font-family: ProximaNova;
    border: 1px solid #e5e5e5;
    border-top-color: #babbbf;
    font-weight: 400;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-family: fashion;
    background-repeat: no-repeat!important;
    padding-bottom: 4px;
    padding-right: 35px;
    color: #110c0e;
    background-size: 14px!important;
    background-position: 98% 50%!important;
    background-image: url(../assets/img/dark_down_arrow.png)!important;
}

.content_wrapper_97.wholesale_content_wrapper > .col_left.col_left45 input[type="password"],.content_wrapper_97.wholesale_content_wrapper > .col_left.col_left45 input[type="email"],.content_wrapper_97.wholesale_content_wrapper > .col_left.col_left45 input[type="tel"],.content_wrapper_97.wholesale_content_wrapper > .col_left.col_left45 input[type="text"], .content_wrapper_97.wholesale_content_wrapper > .col_left.col_left45 textarea,.content_wrapper_97.wholesale_content_wrapper > .col_left.col_left45 select {
    width: 100%;
    font-size: 16px;
    color: #110c0e;
    margin-top: 3px;
    display: block;
    width: 100%;
    padding: 10px 16px 7px;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid #eaeaea;
    border-bottom-color: #f0f0f0;
    border-top-color: #e5e5e5;
    border-radius: 2px;
    background: #f3f3f3;
    outline: 0;
    -webkit-transition: all 170ms ease-out;
    -moz-transition: all 170ms ease-out;
    transition: all 170ms ease-out;
}
.content_wrapper_97.wholesale_content_wrapper > .col_left.col_left45 label span {
    color: #b32234;
    font-weight: 100;
    padding-left: 2px;
    top: -3px;
    position: relative;
    font-family: genath;
}
.content_wrapper_97.wholesale_content_wrapper > .col_left.col_left45 input[type="password"]:focus,.content_wrapper_97.wholesale_content_wrapper > .col_left.col_left45 input[type="password"]:hover,.content_wrapper_97.wholesale_content_wrapper > .col_left.col_left45 input[type="password"]:active {
    background-color: #ffffff;
}
.content_wrapper_97.wholesale_content_wrapper > .col_left.col_left45 input[type="email"]:focus,.content_wrapper_97.wholesale_content_wrapper > .col_left.col_left45 input[type="email"]:hover,.content_wrapper_97.wholesale_content_wrapper > .col_left.col_left45 input[type="email"]:active {
    background-color: #ffffff;
}
.content_wrapper_97.wholesale_content_wrapper > .col_left.col_left45 input[type="text"]:focus,.content_wrapper_97.wholesale_content_wrapper > .col_left.col_left45 input[type="text"]:hover,.content_wrapper_97.wholesale_content_wrapper > .col_left.col_left45 input[type="text"]:active {
    background-color: #ffffff;
}

.content_wrapper_97.wholesale_content_wrapper > .col_left.col_left45 input[type="tel"]:focus,.content_wrapper_97.wholesale_content_wrapper > .col_left.col_left45 input[type="tel"]:hover,.content_wrapper_97.wholesale_content_wrapper > .col_left.col_left45 input[type="tel"]:active {
    background-color: #ffffff;
}

.diamond_form_section .input_split > div {
    width: 48%;
    float: left;
    display: inline-block;
}

.diamond_form_section .input_split:after {
    clear: both;
    content: '';
    display: table;
}

.diamond_form_section .input_split > div:first-child {
    margin-right: 4%;
}

.diamond_form_section > h4 {
    font-family: 'Univers', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 100;
    color: #e0b300!important;
    margin-bottom: -5px;
    margin-top: -5px;
    text-align: Center;
}

.submit_row input[type="submit"] {
    background: #e0b300!important;
    color: #FFFFFF;
    display: inline-block;
    text-align: center;
    padding: 9px 24px 7px 23px;
    margin-top: 12px;
    border-radius: 3px;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 400;
    margin-right: 6px;
    cursor: pointer;
    text-decoration: none;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    border: 0;
}

.submit_row label span {
    font-family: fashion!important;
    color: #110c0e!important;
    position: relative!important;
    padding-left: 0!important;
    top: 3px!important;
    font-weight: 500!important;
    top: 0!important;
}

.content_wrapper_97.wholesale_content_wrapper > .col_left.col_left45 .submit_row label {
    text-align: center;
    width: 313px!important;
    display: block;
    margin: 0 auto;
}

.submit_row label span.mdl-checkbox__ripple-container.mdl-js-ripple-effect.mdl-ripple--center {
    text-align: left!important;
}

.submit_row label span.mdl-checkbox__label {
    text-align: right!important;
    float: right!important;
}

.submit_row .mdl-checkbox.is-checked .mdl-checkbox__box-outline {
    background: #319C4A!important;
}

.submit_row label span.mdl-checkbox__box-outline {
    top: 3px!important;
    margin-right: 4px;
}

@media screen and (max-width:1100px){
    .content_wrapper_97.wholesale_content_wrapper > .col_right.col_left55 h2{
        font-size: 20px;
        line-height: 24px;
    }   
    .content_wrapper_97.wholesale_content_wrapper > .col_left.col_left45 > h1{
        font-size: 30px;
    }
}

@media screen and (max-width:990px){
    .content_wrapper_97.wholesale_content_wrapper > .col_left{
    width: 100%!important;
    max-width: 800px!important;
    display: block;
    float: none!important;
    margin-left: auto;
    margin-right: auto;
}
    .content_wrapper_97.wholesale_content_wrapper > .col_right{width: 100%!important;float: none!important;margin-left: 0!important;max-width: 690px!important;margin: -30px auto 24px!important;display: block!important;}
}

@media screen and (max-width:690px){
    .content_wrapper_97.wholesale_content_wrapper .media_collage{
    height: 572px;
    }
    .content_wrapper_97.wholesale_content_wrapper > .col_right.col_left55 > p{
        text-align: center;
        font-size: 14px;
        margin-top: 11px;
    }
    .content_wrapper_97.wholesale_content_wrapper > .col_right.col_left55 h2{
    font-size: 14px!important;
    text-align: center;
    line-height: 19px;
}
    .content_wrapper_97.wholesale_content_wrapper > .col_right.col_left55 ul li p{
        font-size: 14px;
        line-height: 20px;
    }
}