

.width_35.expiration_date_input_row > input:first-child {
}

.width_35.expiration_date_input_row > input:last-child {
    float: right;
}

ul.products_order_summary li a.remove_product {
    left: 26px;
}

.col_left {
    background-color: transparent;
    display: inline-block;
    width: 50%;
    vertical-align: top;
    min-height: 120vh;
    margin-left: 24px;
}



ul.products_order_summary {
    overflow: auto;
}

body input.checkout_submit_btn:active {
    background-color: #73BB84;
    border-top-color: rgba(103, 103, 103, 0.08);
    border-bottom-color: rgba(173, 173, 173, 0.22);
    box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.12) inset;
    color: rgba(255, 255, 255, 0.67);
}

.checkout_content_wrapper h1 {
    text-align: center;
    padding-bottom: 4px;
    border-bottom: 1px solid #babbbf;
    padding-top: 9px;
    font-family: Mercury;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .25px;
}

.order_summary h1 {
    color: #babbbf;
    margin-top: 18px;
    padding-bottom: 12px;
}

.checkout_content_wrapper .col_right h1 {
    border-bottom-color: transparent;
    float: left;
    text-align: center;
    margin: 0 auto;
    display: block;
}

ul.products_order_summary li {
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}

ul.products_order_summary li a.remove_product {
    height: 21px;
    width: 21px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
}
ul.products_order_summary li a.remove_product:hover svg path {
    fill: #110c0e;
    stroke: #110c0e;
}
ul.products_order_summary li a.remove_product svg path {
    fill: #8e8e8e;
    stroke-width: 1px;
    -webkit-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    stroke: #8e8e8e;
}

ul.products_order_summary li a.remove_product svg {
    height: 100%;
    width: 100%;
}

ul.products_order_summary li:last-child {
    border-bottom-color: #cbcbcb;
}

ul.products_order_summary li .product_image {
    display: inline-block;
    margin-left: 48px;
    width: 72px;
    height: 72px;
    margin-top: 33px;
    float: left;
    background-color: #e5e5e5;
    box-shadow: 0 1px 1px 0px #e5e5e5;
}

ul.products_order_summary li .product_image img {
    width:72px;
    height:72px;
}
.order_summary_data > div {
    position: relative;
    height: 44px;
}

.order_summary_data {
    padding-top: 18px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .6px;
}

.final_data {
    padding-top: 12px;
    line-height: 50px;
    border-top: 1px solid rgba(174, 174, 177, 0.83);
    font-size: 19px;
    font-weight: 600;
}

.product_data {
    padding: 30px 0 22px 132px;
}

.product_data h6 {
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    letter-spacing: .2px;
    display: block;
}

.product_data p.price {
    font-size: 16px;
    letter-spacing: .2px;
    width: 100%;
    color: #110c0e;
    display: block;
    font-weight: 100;
    line-height: 16px;
    padding-top: 10px;
    padding-bottom: 0;
}

.product_data p {
    color: #8b8b8b;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 100;
    margin-right: 12px;
    padding-top: 8px;
    display: inline-block;
    padding-bottom: 11px;
}

.product_data p label {
    color: #c3c3c3;
    padding-right: 4px;
}

@media screen and (max-width: 960px){
    .checkout_content_wrapper .col_left{
        width:100%;
        margin-left:0;
        min-height: auto!important;
        margin-bottom: 36px;
    }
    ul.products_order_summary li{
    width: 49%;
    display: inline-block;
    float: left;
    border-bottom: 1px solid #e5e5e5!important;
}
    ul.products_order_summary li:nth-of-type(even){
        float: right;
    }
    .checkout_content_wrapper .col_right{
        width: 100%;
        float: none;
        margin-bottom: 48px;
        min-width: 370px;
    }
    .order_summary_data{}
    .order_summary h1{
    font-size: 24px;
    border-bottom: 1px solid #a5a5a5!important;
    text-align: left;
}
    .product_data{
    padding: 14px 0 9px 112px;
}
    .product_data h6{
        font-size: 16px;
        line-height: 19px;
    }
    .product_data p.price{
    font-size: 14px;
    padding-top: 2px;
}
    .product_data p{
        padding-top: 0;
    }
    ul.products_order_summary li .product_image{
    width: 48px;
    margin-top: 19px;
    height: 48px;
}
    ul.products_order_summary.wishlist a.buy_product{
        margin-top: 31px!important;
    }
}

@media screen and (max-width:880px){
    ul.products_order_summary.wishlist li{
        width: 100%!important;
        float: none!important;
    }
}

@media screen and (max-width:590px){
    ul.products_order_summary.wishlist a.buy_product{
        font-size:12px;
        padding-bottom: 10!important;
        line-height: 15px;
        height: 30px;
        padding-top: 8px;
        background-color: #83D496!important;
    }
    ul.products_order_summary.wishlist li a.remove_product{
    height: 14px;
    width: 14px;
    left: 11px!important;
}
    ul.products_order_summary.wishlist li .product_image{
    margin-left: 12px;
}
    .width_35.expiration_date_input_row span{
        font-size: 14px;
        padding-left: 9px;
    }
    .order_checkout_form_wrapper input{
        font-size: 12.5px;
    }
    .product_data{
        padding-left: 47px;
        padding-top: 80px;
    }
    .order_checkout_form_wrapper{
        padding: 10px 20px 24px;
    }
}
select.agd_select {
    border-image: none;
    font-size: 14px;
    box-shadow: none;
    -webkit-appearance: none!important;
    -webkit-border-radius: 1px;
    outline: none;
    background-color: #fafafa;
    padding: 7px 12px;
    font-family: ProximaNova;
    border: 1px solid #e5e5e5;
    border-top-color: #babbbf;
    font-weight: 400;
    width: 100%;
    border-radius: 3px;
    font-family: Gotham;
    background-repeat: no-repeat;
    padding-bottom: 4px;
    padding-right: 35px;
    color: #110c0e;
    background-size: 14px;
    background-position: 95% 12px;
    background-image: url(../assets/img/dark_down_arrow.png);
}

input.summary_data_text_input {
    padding: 7px 12px;
    border-image: none;
    font-size: 14px;
    box-shadow: none;
    -webkit-appearance: none!important;
    -webkit-border-radius: 1px;
    outline: none;
    background-color: #fafafa;
    padding: 7px 12px;
    font-family: ProximaNova;
    border: 1px solid #e5e5e5;
    border-top-color: #babbbf;
    font-weight: 400;
    display: inline-block;
    width: calc(100% - 97px);
    float: left;
    border-radius: 3px;
    font-family: Gotham;
    background-repeat: no-repeat;
    padding-bottom: 4px;
}


a.float_right {
    display: inline-block;
    float: right;
}

a.float_right.checkout_login_prompt {
    background: 
    
    -webkit-linear-gradient(to bottom,rgba(245, 245, 245, 0.65) 0,rgba(229, 229, 229, 0.47) 100%);
    box-shadow: 0 1px 0 0 rgba(195, 195, 195, 0.46),1px 0px 0 0 rgba(195, 195, 195, 0.3),-1px 0px 0 0 rgba(195, 195, 195, 0.3),0px -1px 0 0 rgba(220, 220, 220, 0.29);
    background: linear-gradient(to bottom,rgba(245, 245, 245, 0.65) 0,rgba(229, 229, 229, 0.47) 100%);
    color: #babbbf;
    padding: 4px 12px 2px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 3px;
    margin-top: -4px;
}

.content_wrapper_97.wishlist_wrapper {
    margin-top: 32px;
}

.content_wrapper_97.wishlist_wrapper > h2 {
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    background: #110c0e;
    width: 166px;
    color: rgb(255, 255, 255);
    padding-top: 3px;
    letter-spacing: 0;
    margin: 0 auto;
    box-shadow: 0 1px #FFFFFF, 1px 0 rgba(0, 0, 0, 0.95), -1px 0 rgba(0, 0, 0, 0.95), 0 1px rgb(0, 0, 0) inset;
    font-size: 12px;
    padding-bottom: 2px;
    margin-bottom: 32px;
}

ul.products_order_summary.wishlist li {
    background: #FFFFFF;
    border: 0;
    padding-left: 24px;
    margin-bottom: 1%;
    padding-right: 24px;
    width: 49.5%;
    display: inline-block;
    float: left;
    border-bottom: 1px solid #e5e5e5!important;
}

ul.products_order_summary.wishlist li:nth-child(even) {
    background: #ffffff;
    float: right;
}

ul.products_order_summary.wishlist a.buy_product {
    display: inline-block;
    float: right;
    vertical-align: top;
    margin-top: 41px;
    background: transparent;
    color: #ffffff;
    font-weight: 400;
    padding-bottom: 2px;
    text-transform: capitalize;
    background: #548860;
    letter-spacing: .15px;
    border-color: Transparent;
    -webkit-box-shadow: 0px 0px 4px rgba(150,150,150,0.3),0px 2px 2px rgba(255, 255, 255, 0.15) inset,0px -3px 1px rgba(0, 0, 0, 0.07) inset;
    -moz-box-shadow: 0px 0px 4px rgba(150,150,150,0.3),0px 2px 2px rgba(255, 255, 255, 0.15) inset,0px -3px 1px rgba(0, 0, 0, 0.07) inset;
    box-shadow: 0px 0px 4px rgba(150,150,150,0.3),0px 2px 2px rgba(255, 255, 255, 0.15) inset,0px -3px 1px rgba(0, 0, 0, 0.07) inset;
}

ul.products_order_summary.wishlist {
    margin-bottom: 47px;
}

ul.products_order_summary.wishlist .product_data {
    display: inline-block;
    padding-left: 12px;
    padding-top: 18px;
    padding-bottom: 0px;
}


ul.products_order_summary.wishlist li .product_image {
    margin-top: 18px;
}