.table {
  > thead > tr > th {
    background:lighten(@gray, 0.01%);
  }
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        vertical-align: middle;
      }
    }
  }
  > tbody{
    tr:last-child td{
      border-bottom: 1px solid @table-border-color;
    }
  }
  > tbody > tr:hover {
    background-color: @table-bg-hover;
  }
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  > tbody {
    > tr {
      > td:first-child {
        padding-left: 15px;
      }
    }
  }
  > thead {
    > tr {
      > th:first-child {
        padding-left: 15px;
      }
    }
  }
}