//Contains All variables
//-----------------------

@primary-color: #333;
@brand-primary: @primary-color;
@input-color:   #333;
//Layout
//Side bar and logo width
@left-side-width: 220px;

// skin: default
@default-color: #333;

//Font
@font-sans: 'Noto Sans', Arial, sans-serif;
@font-slab: 'Noto Sans', sans-serif;

//Colors
@light-blue: #3c8dbc; //Primary
@red: #f56954;        //Danger
@green: #00a65a;      //Success
@aqua: #00c0ef;       //Info
@yellow: #f39c12;     //Warning
@blue: #0073b7;
@navy:  #001F3F;
@teal:  #39CCCC;
@olive: #3D9970;
@lime:  #01FF70;
@orange:  #FF851B;
@fuchsia: #F012BE;
@purple:  #932ab6;
@maroon:  #85144B;
@black: #222;
@gray: #eaeaec;
@white: #FFF;

//Link colors (Aka: <a> tags)
@link-color: @default-color;
@link-hover-color: lighten(@link-color, 15%);

//Body background (Affects main content background only)
@body-bg: #f9f9f9;

//Table striped color
@table-striped-color: #f3f4f5;

//Sidebar skins
//skin blue (light) sidebar vars
@sidebar-light-bg: #f4f4f4;
@sidebar-light-hover-bg: #f9f9f9;
@sidebar-light-font: #555;
@sidebar-light-border: #dbdbdb;

//Screen widths - Same as bootstrap default settings
@screen-xs: 480px;
@screen-sm: 767px;
@screen-md: 992px;
@screen-lg: 1200px;
//When the logo should go to the top of the screen
@screen-header-collapse: 560px; 

//BOXES
@box-border-color: #f4f4f4;
@box-border-radius: 3px;
@box-footer-bg: #fff;

//FORMS
@input-radius: 0px;

//BUTTONS
//Border radius for non flat buttons
@btn-border-radius: 0px;
@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;

//CHAT widget
@attachment-border-radius: 3px;


// alerts
@state-success-text:             #FFF;
@state-success-bg:               #1A964A;
@state-success-border:           #1A964A;

@state-warning-text:             #FFF;
@state-warning-bg:               #F56954;
@state-warning-border:           #F56954;