@primary-color: #700067;

// type
@font-sans: 'Noto Sans', Arial, sans-serif;
@font-slab: 'Roboto Slab', sans-serif;

@font-size-base:          14px;

// icons
@icon-font-path:          "../fonts/";
@icon-font-name:          "fontello";

// grid
@grid-columns:              24;
@grid-gutter-width:         20px;

// navbar
