
@font-face {

    font-family: 'Mercury';

    src: url('mercurydisplayroman.eot');

    src: url('mercurydisplayroman.eot?#iefix') format('embedded-opentype'),

         url('mercurydisplayroman.woff') format('woff'),

         url('mercurydisplayroman.ttf') format('truetype'),

         url('mercurydisplayroman.svg#mercurydisplayroman') format('svg');

    font-weight: 400;

    font-style: normal;

}



@font-face {

    font-family: 'Mercury';

    src: url('mercurydisplaysemibold.eot');

    src: url('mercurydisplaysemibold.eot?#iefix') format('embedded-opentype'),

         url('mercurydisplaysemibold.woff') format('woff'),

         url('mercurydisplaysemibold.ttf') format('truetype'),

         url('mercurydisplaysemibold.svg#mercurydisplaysemibold') format('svg');

    font-weight: 600;

    font-style: normal;

}



@font-face {

    font-family: 'Mercury';

    src: url('mercurydisplaysemiitalic.eot');

    src: url('mercurydisplaysemiitalic.eot?#iefix') format('embedded-opentype'),

         url('mercurydisplaysemiitalic.woff') format('woff'),

         url('mercurydisplaysemiitalic.ttf') format('truetype'),

         url('mercurydisplaysemiitalic.svg#mercurydisplaysemiitalic') format('svg');

    font-weight: 600;

    font-style: italic;



}


