@font-face {
	font-family: "Flaticon";
	src: url("mercurydisplaysemiitalic.eot");
	src: url("mercurydisplaysemiitalic.eot#iefix") format("embedded-opentype"),
	url("mercurydisplaysemiitalic.woff") format("woff"),
	url("mercurydisplaysemiitalic.ttf") format("truetype"),
	url("mercurydisplaysemiitalic.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-ring:before {
	content: "\2da";
}
.flaticon-hungarumlaut:before {
	content: "\2dd";
}
.flaticon-ogonek:before {
	content: "\2db";
}
.flaticon-caron:before {
	content: "\2c7";
}
.flaticon-dotlessi:before {
	content: "\131";
}
.flaticon-fi:before {
	content: "\fb01";
}
.flaticon-fl:before {
	content: "\fb02";
}
.flaticon-exclam:before {
	content: "\21";
}
.flaticon-quotedbl:before {
	content: "\22";
}
.flaticon-numbersign:before {
	content: "\23";
}
.flaticon-dollar:before {
	content: "\24";
}
.flaticon-percent:before {
	content: "\25";
}
.flaticon-ampersand:before {
	content: "\26";
}
.flaticon-quotesingle:before {
	content: "\27";
}
.flaticon-parenleft:before {
	content: "\28";
}
.flaticon-parenright:before {
	content: "\29";
}
.flaticon-asterisk:before {
	content: "\2a";
}
.flaticon-plus:before {
	content: "\2b";
}
.flaticon-comma:before {
	content: "\2c";
}
.flaticon-hyphen:before {
	content: "\2d";
}
.flaticon-period:before {
	content: "\2e";
}
.flaticon-slash:before {
	content: "\2f";
}
.flaticon-zero:before {
	content: "\30";
}
.flaticon-one:before {
	content: "\31";
}
.flaticon-two:before {
	content: "\32";
}
.flaticon-three:before {
	content: "\33";
}
.flaticon-four:before {
	content: "\34";
}
.flaticon-five:before {
	content: "\35";
}
.flaticon-six:before {
	content: "\36";
}
.flaticon-seven:before {
	content: "\37";
}
.flaticon-eight:before {
	content: "\38";
}
.flaticon-nine:before {
	content: "\39";
}
.flaticon-colon:before {
	content: "\3a";
}
.flaticon-semicolon:before {
	content: "\3b";
}
.flaticon-less:before {
	content: "\3c";
}
.flaticon-equal:before {
	content: "\3d";
}
.flaticon-greater:before {
	content: "\3e";
}
.flaticon-question:before {
	content: "\3f";
}
.flaticon-at:before {
	content: "\40";
}
.flaticon-A:before {
	content: "\41";
}
.flaticon-B:before {
	content: "\42";
}
.flaticon-C:before {
	content: "\43";
}
.flaticon-D:before {
	content: "\44";
}
.flaticon-E:before {
	content: "\45";
}
.flaticon-F:before {
	content: "\46";
}
.flaticon-G:before {
	content: "\47";
}
.flaticon-H:before {
	content: "\48";
}
.flaticon-I:before {
	content: "\49";
}
.flaticon-J:before {
	content: "\4a";
}
.flaticon-K:before {
	content: "\4b";
}
.flaticon-L:before {
	content: "\4c";
}
.flaticon-M:before {
	content: "\4d";
}
.flaticon-N:before {
	content: "\4e";
}
.flaticon-O:before {
	content: "\4f";
}
.flaticon-P:before {
	content: "\50";
}
.flaticon-Q:before {
	content: "\51";
}
.flaticon-R:before {
	content: "\52";
}
.flaticon-S:before {
	content: "\53";
}
.flaticon-T:before {
	content: "\54";
}
.flaticon-U:before {
	content: "\55";
}
.flaticon-V:before {
	content: "\56";
}
.flaticon-W:before {
	content: "\57";
}
.flaticon-X:before {
	content: "\58";
}
.flaticon-Y:before {
	content: "\59";
}
.flaticon-Z:before {
	content: "\5a";
}
.flaticon-bracketleft:before {
	content: "\5b";
}
.flaticon-backslash:before {
	content: "\5c";
}
.flaticon-bracketright:before {
	content: "\5d";
}
.flaticon-asciicircum:before {
	content: "\5e";
}
.flaticon-underscore:before {
	content: "\5f";
}
.flaticon-grave:before {
	content: "\60";
}
.flaticon-a:before {
	content: "\61";
}
.flaticon-b:before {
	content: "\62";
}
.flaticon-c:before {
	content: "\63";
}
.flaticon-d:before {
	content: "\64";
}
.flaticon-e:before {
	content: "\65";
}
.flaticon-f:before {
	content: "\66";
}
.flaticon-g:before {
	content: "\67";
}
.flaticon-h:before {
	content: "\68";
}
.flaticon-i:before {
	content: "\69";
}
.flaticon-j:before {
	content: "\6a";
}
.flaticon-k:before {
	content: "\6b";
}
.flaticon-l:before {
	content: "\6c";
}
.flaticon-m:before {
	content: "\6d";
}
.flaticon-n:before {
	content: "\6e";
}
.flaticon-o:before {
	content: "\6f";
}
.flaticon-p:before {
	content: "\70";
}
.flaticon-q:before {
	content: "\71";
}
.flaticon-r:before {
	content: "\72";
}
.flaticon-s:before {
	content: "\73";
}
.flaticon-t:before {
	content: "\74";
}
.flaticon-u:before {
	content: "\75";
}
.flaticon-v:before {
	content: "\76";
}
.flaticon-w:before {
	content: "\77";
}
.flaticon-x:before {
	content: "\78";
}
.flaticon-y:before {
	content: "\79";
}
.flaticon-z:before {
	content: "\7a";
}
.flaticon-braceleft:before {
	content: "\7b";
}
.flaticon-bar:before {
	content: "\7c";
}
.flaticon-braceright:before {
	content: "\7d";
}
.flaticon-asciitilde:before {
	content: "\7e";
}
.flaticon-quotesinglbase:before {
	content: "\201a";
}
.flaticon-florin:before {
	content: "\192";
}
.flaticon-quotedblbase:before {
	content: "\201e";
}
.flaticon-ellipsis:before {
	content: "\2026";
}
.flaticon-dagger:before {
	content: "\2020";
}
.flaticon-daggerdbl:before {
	content: "\2021";
}
.flaticon-circumflex:before {
	content: "\2c6";
}
.flaticon-perthousand:before {
	content: "\2030";
}
.flaticon-guilsinglleft:before {
	content: "\2039";
}
.flaticon-OE:before {
	content: "\152";
}
.flaticon-quoteleft:before {
	content: "\2018";
}
.flaticon-quoteright:before {
	content: "\2019";
}
.flaticon-quotedblleft:before {
	content: "\201c";
}
.flaticon-quotedblright:before {
	content: "\201d";
}
.flaticon-bullet:before {
	content: "\2022";
}
.flaticon-endash:before {
	content: "\2013";
}
.flaticon-emdash:before {
	content: "\2014";
}
.flaticon-tilde:before {
	content: "\2dc";
}
.flaticon-trademark:before {
	content: "\2122";
}
.flaticon-guilsinglright:before {
	content: "\203a";
}
.flaticon-oe:before {
	content: "\153";
}
.flaticon-Ydieresis:before {
	content: "\178";
}
.flaticon-exclamdown:before {
	content: "\a1";
}
.flaticon-cent:before {
	content: "\a2";
}
.flaticon-sterling:before {
	content: "\a3";
}
.flaticon-currency:before {
	content: "\a4";
}
.flaticon-yen:before {
	content: "\a5";
}
.flaticon-section:before {
	content: "\a7";
}
.flaticon-dieresis:before {
	content: "\a8";
}
.flaticon-copyright:before {
	content: "\a9";
}
.flaticon-ordfeminine:before {
	content: "\aa";
}
.flaticon-guillemotleft:before {
	content: "\ab";
}
.flaticon-logicalnot:before {
	content: "\ac";
}
.flaticon-registered:before {
	content: "\ae";
}
.flaticon-macron:before {
	content: "\af";
}
.flaticon-macron:before {
	content: "\2c9";
}
.flaticon-degree:before {
	content: "\b0";
}
.flaticon-plusminus:before {
	content: "\b1";
}
.flaticon-acute:before {
	content: "\b4";
}
.flaticon-mu:before {
	content: "\b5";
}
.flaticon-mu:before {
	content: "\3bc";
}
.flaticon-paragraph:before {
	content: "\b6";
}
.flaticon-periodcentered:before {
	content: "\b7";
}
.flaticon-cedilla:before {
	content: "\b8";
}
.flaticon-ordmasculine:before {
	content: "\ba";
}
.flaticon-guillemotright:before {
	content: "\bb";
}
.flaticon-questiondown:before {
	content: "\bf";
}
.flaticon-Agrave:before {
	content: "\c0";
}
.flaticon-Aacute:before {
	content: "\c1";
}
.flaticon-Acircumflex:before {
	content: "\c2";
}
.flaticon-Atilde:before {
	content: "\c3";
}
.flaticon-Adieresis:before {
	content: "\c4";
}
.flaticon-Aring:before {
	content: "\c5";
}
.flaticon-AE:before {
	content: "\c6";
}
.flaticon-Ccedilla:before {
	content: "\c7";
}
.flaticon-Egrave:before {
	content: "\c8";
}
.flaticon-Eacute:before {
	content: "\c9";
}
.flaticon-Ecircumflex:before {
	content: "\ca";
}
.flaticon-Edieresis:before {
	content: "\cb";
}
.flaticon-Igrave:before {
	content: "\cc";
}
.flaticon-Iacute:before {
	content: "\cd";
}
.flaticon-Icircumflex:before {
	content: "\ce";
}
.flaticon-Idieresis:before {
	content: "\cf";
}
.flaticon-Ntilde:before {
	content: "\d1";
}
.flaticon-Ograve:before {
	content: "\d2";
}
.flaticon-Oacute:before {
	content: "\d3";
}
.flaticon-Ocircumflex:before {
	content: "\d4";
}
.flaticon-Otilde:before {
	content: "\d5";
}
.flaticon-Odieresis:before {
	content: "\d6";
}
.flaticon-Oslash:before {
	content: "\d8";
}
.flaticon-Ugrave:before {
	content: "\d9";
}
.flaticon-Uacute:before {
	content: "\da";
}
.flaticon-Ucircumflex:before {
	content: "\db";
}
.flaticon-Udieresis:before {
	content: "\dc";
}
.flaticon-germandbls:before {
	content: "\df";
}
.flaticon-agrave:before {
	content: "\e0";
}
.flaticon-aacute:before {
	content: "\e1";
}
.flaticon-acircumflex:before {
	content: "\e2";
}
.flaticon-atilde:before {
	content: "\e3";
}
.flaticon-adieresis:before {
	content: "\e4";
}
.flaticon-aring:before {
	content: "\e5";
}
.flaticon-ae:before {
	content: "\e6";
}
.flaticon-ccedilla:before {
	content: "\e7";
}
.flaticon-egrave:before {
	content: "\e8";
}
.flaticon-eacute:before {
	content: "\e9";
}
.flaticon-ecircumflex:before {
	content: "\ea";
}
.flaticon-edieresis:before {
	content: "\eb";
}
.flaticon-igrave:before {
	content: "\ec";
}
.flaticon-iacute:before {
	content: "\ed";
}
.flaticon-icircumflex:before {
	content: "\ee";
}
.flaticon-idieresis:before {
	content: "\ef";
}
.flaticon-ntilde:before {
	content: "\f1";
}
.flaticon-ograve:before {
	content: "\f2";
}
.flaticon-oacute:before {
	content: "\f3";
}
.flaticon-ocircumflex:before {
	content: "\f4";
}
.flaticon-otilde:before {
	content: "\f5";
}
.flaticon-odieresis:before {
	content: "\f6";
}
.flaticon-divide:before {
	content: "\f7";
}
.flaticon-oslash:before {
	content: "\f8";
}
.flaticon-ugrave:before {
	content: "\f9";
}
.flaticon-uacute:before {
	content: "\fa";
}
.flaticon-ucircumflex:before {
	content: "\fb";
}
.flaticon-udieresis:before {
	content: "\fc";
}
.flaticon-ydieresis:before {
	content: "\ff";
}
.flaticon-dotaccent:before {
	content: "\2d9";
}
.flaticon-apple:before {
	content: "\f8ff";
}
.flaticon-approxequal:before {
	content: "\2248";
}
.flaticon-greaterequal:before {
	content: "\2265";
}
.flaticon-infinity:before {
	content: "\221e";
}
.flaticon-integral:before {
	content: "\222b";
}
.flaticon-lessequal:before {
	content: "\2264";
}
.flaticon-lozenge:before {
	content: "\25ca";
}
.flaticon-notequal:before {
	content: "\2260";
}
.flaticon-partialdiff:before {
	content: "\2202";
}
.flaticon-pi:before {
	content: "\3c0";
}
.flaticon-product:before {
	content: "\220f";
}
.flaticon-radical:before {
	content: "\221a";
}
.flaticon-summation:before {
	content: "\2211";
}
.flaticon-breve:before {
	content: "\2d8";
}
.flaticon-fraction:before {
	content: "\2215";
}
.flaticon-Lslash:before {
	content: "\141";
}
.flaticon-lslash:before {
	content: "\142";
}
.flaticon-Zcaron:before {
	content: "\17d";
}
.flaticon-zcaron:before {
	content: "\17e";
}
.flaticon-Scaron:before {
	content: "\160";
}
.flaticon-scaron:before {
	content: "\161";
}
.flaticon-brokenbar:before {
	content: "\a6";
}
.flaticon-minus:before {
	content: "\2212";
}
.flaticon-twosuperior:before {
	content: "\b2";
}
.flaticon-threesuperior:before {
	content: "\b3";
}
.flaticon-onesuperior:before {
	content: "\b9";
}
.flaticon-onequarter:before {
	content: "\bc";
}
.flaticon-onehalf:before {
	content: "\bd";
}
.flaticon-threequarters:before {
	content: "\be";
}
.flaticon-Eth:before {
	content: "\d0";
}
.flaticon-multiply:before {
	content: "\d7";
}
.flaticon-Yacute:before {
	content: "\dd";
}
.flaticon-Thorn:before {
	content: "\de";
}
.flaticon-eth:before {
	content: "\f0";
}
.flaticon-yacute:before {
	content: "\fd";
}
.flaticon-thorn:before {
	content: "\fe";
}
.flaticon-Delta:before {
	content: "\394";
}
.flaticon-Omega:before {
	content: "\3a9";
}
